html {
  box-sizing: border-box;
  height: 100%;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  color: map-get($basic, main);
  font-size: 13px;
  overflow-x: hidden;
  font-family: $font1;

  &.no-scroll {
    overflow-y: hidden;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

textarea:focus,
input:focus,
button {
  outline: none;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: $container-fluid-width;
  margin: auto;
  padding: 0 2rem;

  .container {
    min-width: initial;
    padding: 0;
  }

  @include bp-tablet() {
    padding: 0 1rem;
  }
}

.visible-m {
  @include bp-tablet(min) {
    display: none !important;
  }

  @include bp-tablet() {
    display: block;
  }
}

.visible-d {
  @include bp-tablet(min) {
    display: block;
  }

  @include bp-tablet() {
    display: none !important;
  }
}

.flex-double {
  min-width: calc(50% - 1.5rem);
  max-width: calc(50% - 1.5rem);

  @include bp-tablet() {
    min-width: 100%;
    max-width: 100%;
  }
}
