<div class="container">{% include '../blocks/categories-4items.twig' %}</div>
<div class="container">{% include '../blocks/price-list_tabs.twig' %}</div>
<div class="container">{% include '../blocks/catalog-3items.twig' %}</div>
<div class="container">{% include '../blocks/price-item.twig' %}</div>
<div class="container">{% include '../blocks/price-item__tab.twig' %}</div>
<div class="container">{% include '../blocks/img-3items.twig' %}</div>
<div class="container">{% include '../blocks/catalog-4items.twig' %}</div>
<div class="container">{% include '../blocks/options-list.twig' %}</div>
<div class="container">{% include '../blocks/catalog-4items-2.twig' %}</div>
<div class="container">{% include '../blocks/price-item-2.twig' %}</div>
<div class="container">{% include '../blocks/img-3items_banner.twig' %}</div>
<div class="container">{% include '../blocks/price-list.twig' %}</div>