<div class="container">{% include '../blocks/advantages.twig' %}</div>
<div class="container">{% include '../blocks/one-product.twig' with { imgLeft: false } %}</div>
<div class="container">{% include '../blocks/one-product.twig' with { imgLeft: true } %}</div>
<div class="container">{% include '../blocks/catalog-grid.twig' %}</div>
<div class="container">{% include '../blocks/catalog-grid-2.twig' %}</div>
<div class="container">{% include '../blocks/price-item-3.twig' %}</div>
<div class="container">{% include '../blocks/item_info-img.twig' %}</div>
<div class="container">{% include '../blocks/catalog-3items-2.twig' %}</div>
<div class="container">{% include '../blocks/price-item__row.twig' %}</div>
<div class="container">{% include '../blocks/banners-4.twig' %}</div>
<div class="container">{% include '../blocks/catalog-grid-3.twig' %}</div>
<div class="container">{% include '../blocks/catalog-4items-3.twig' %}</div>
<div class="container">{% include '../blocks/label-images.twig' %}</div>

<div class="container">{% include '../blocks/price-item__tab-2.twig' %}</div>
<div class="grey-bg"><div class="container">{% include '../blocks/price-item__tab-2.twig' %}</div></div>
{% include '../blocks/form.twig' %}
<div class="container">{% include '../blocks/portfolio_wo-text.twig' %}</div>
<div class="container">{% include '../blocks/catalog-links.twig' %}</div>
<div class="container">{% include '../blocks/banner-item.twig' %}</div>