<div class="container">
    {% set breadcrumbs = [
        {
            href: '/',
            name: 'Главная',
        },
        {
            href: '#',
            name: 'Поиск',
        },
    ] %}

    {% include '../template-parts/breadcrumbs.twig' with {
        breadcrumbs: breadcrumbs,
        infoBreadcrumbs: infoBreadcrumbs
    } %}

    <div class="search__wrapper">
        <div class="search__title">
            <h2>Поиск</h2>
            <div class="input__wrapper">
                <input type="text" placeholder="поиск">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none">
                    <path d="M6.97999 0.139893C3.40858 0.139893 0.519989 3.02849 0.519989 6.59989C0.519989 10.1713 3.40858 13.0599 6.97999 13.0599C8.25507 13.0599 9.43515 12.6858 10.4356 12.0505L15.1025 16.7174L16.7175 15.1024L12.11 10.5068C12.9383 9.42021 13.44 8.07388 13.44 6.59989C13.44 3.02849 10.5514 0.139893 6.97999 0.139893ZM6.97999 1.65989C9.71569 1.65989 11.92 3.86419 11.92 6.59989C11.92 9.3356 9.71569 11.5399 6.97999 11.5399C4.24429 11.5399 2.03999 9.3356 2.03999 6.59989C2.03999 3.86419 4.24429 1.65989 6.97999 1.65989Z" fill="#34495E"/>
                </svg>
            </div>
        </div>
        <div class="search__list">
            <a href="#" class="search__item">
                <div class="search-item__img">
                    <img src="./assets/images/catalog-1.jpg" alt="">
                </div>

                <div class="search-item__label">
                    <h3>
                        Домик-перекидной

                        <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2796 0.120643C12.0701 -0.0592371 11.7544 -0.0352106 11.5745 0.174307C11.3946 0.383826 11.4187 0.699495 11.6282 0.879375L16.5826 5.13291C16.9699 5.46543 17.2324 5.91365 17.3366 6.40444H0.5C0.223858 6.40444 0 6.6283 0 6.90444C0 7.18058 0.223858 7.40444 0.5 7.40444H17.3272C17.2173 7.87876 16.9588 8.31094 16.5826 8.63395L11.6282 12.8875C11.4187 13.0674 11.3946 13.383 11.5745 13.5925C11.7544 13.8021 12.0701 13.8261 12.2796 13.6462L17.234 9.39268C17.9658 8.7644 18.3868 7.84794 18.3868 6.88343C18.3868 5.91891 17.9658 5.00246 17.234 4.37417L12.2796 0.120643Z" fill="currentColor"/>
                        </svg>
                    </h3>
                    <span>Услуги</span>
                </div>

                <p class="search-item__desc">
                    ДОСТАВКОЙ к вам в офис в короткий cрок Стоимость календаря домика перекидного Размер основы 210х100х70 мм Размер календарного блока 200х90 мм Кол-во листов в блоке – 12 Материал основы – бумага 300 гр Цветность основы односторонняя Материал блоков – бумага мелованная 130 гр Цветность блоков:
                </p>
            </a>

            <a href="#" class="search__item">
                <div class="search-item__img">
                    <img src="./assets/images/catalog-1.jpg" alt="">
                </div>

                <div class="search-item__label">
                    <h3>
                        Календарные блоки / сетка

                        <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2796 0.120643C12.0701 -0.0592371 11.7544 -0.0352106 11.5745 0.174307C11.3946 0.383826 11.4187 0.699495 11.6282 0.879375L16.5826 5.13291C16.9699 5.46543 17.2324 5.91365 17.3366 6.40444H0.5C0.223858 6.40444 0 6.6283 0 6.90444C0 7.18058 0.223858 7.40444 0.5 7.40444H17.3272C17.2173 7.87876 16.9588 8.31094 16.5826 8.63395L11.6282 12.8875C11.4187 13.0674 11.3946 13.383 11.5745 13.5925C11.7544 13.8021 12.0701 13.8261 12.2796 13.6462L17.234 9.39268C17.9658 8.7644 18.3868 7.84794 18.3868 6.88343C18.3868 5.91891 17.9658 5.00246 17.234 4.37417L12.2796 0.120643Z" fill="currentColor"/>
                        </svg>
                    </h3>
                    <span>Услуги</span>
                </div>

                <p class="search-item__desc">
                    ДОСТАВКОЙ к вам в офис в короткий cрок Стоимость календаря домика перекидного Размер основы 210х100х70 мм Размер календарного блока 200х90 мм Кол-во листов в блоке – 12 Материал основы – бумага 300 гр Цветность основы односторонняя Материал блоков – бумага мелованная 130 гр Цветность блоков:
                </p>
            </a>

            <a href="#" class="search__item">
                <div class="search-item__img">
                    <img src="./assets/images/catalog-1.jpg" alt="">
                </div>

                <div class="search-item__label">
                    <h3>
                        Ежедневники с индивидуальным дизайном

                        <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2796 0.120643C12.0701 -0.0592371 11.7544 -0.0352106 11.5745 0.174307C11.3946 0.383826 11.4187 0.699495 11.6282 0.879375L16.5826 5.13291C16.9699 5.46543 17.2324 5.91365 17.3366 6.40444H0.5C0.223858 6.40444 0 6.6283 0 6.90444C0 7.18058 0.223858 7.40444 0.5 7.40444H17.3272C17.2173 7.87876 16.9588 8.31094 16.5826 8.63395L11.6282 12.8875C11.4187 13.0674 11.3946 13.383 11.5745 13.5925C11.7544 13.8021 12.0701 13.8261 12.2796 13.6462L17.234 9.39268C17.9658 8.7644 18.3868 7.84794 18.3868 6.88343C18.3868 5.91891 17.9658 5.00246 17.234 4.37417L12.2796 0.120643Z" fill="currentColor"/>
                        </svg>
                    </h3>
                    <span>Услуги</span>
                </div>

                <p class="search-item__desc">
                    ДОСТАВКОЙ к вам в офис в короткий cрок Стоимость календаря домика перекидного Размер основы 210х100х70 мм Размер календарного блока 200х90 мм Кол-во листов в блоке – 12 Материал основы – бумага 300 гр Цветность основы односторонняя Материал блоков – бумага мелованная 130 гр Цветность блоков:
                </p>
            </a>
        </div>
        <div class="search__sort">
            <a href="">Отсортировано по релевантности</a> |
            <a class="active" href="">Сортировать по дате</a>
        </div>
    </div>
</div>