<div class="banner-constructor__wrapper">
    <div class="container">
        <div class="banner-constructor__text">
            <div class="banner-constructor__title">Хотите сэкономить на печати?</div>
            <div class="banner-constructor__subtitle">
                Воспользуйтесь нашим <b>КОНСТРУКТОРОМ</b> полиграфии и сувенирной продукции
            </div>
            <div class="banner-constructor__list">
                <div class="banner-constructor__item">БЫСТРОЕ СОЗДАНИЕ МАКЕТОВ</div>
                <div class="banner-constructor__item">БЕСПЛАТНАЯ ДОСТАВКА</div>
                <div class="banner-constructor__item">МОМЕНТАЛЬНЫЙ РАСЧЕТ СТОИМОСТИ</div>
                <div class="banner-constructor__item">СКИДКИ НА ПЕЧАТЬ</div>
                <div class="banner-constructor__item">ОНЛАЙН ОФОРМЛЕНИЕ И ОПЛАТА ЗАКАЗА</div>
            </div>
            <a class="banner-constructor__link" href="#">
                <span>Перейти к конструктору</span>
                <svg width="25" height="19" viewBox="0 0 25 19" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.3778 0.241286C15.9588 -0.118474 15.3274 -0.0704212 14.9677 0.348615C14.6079 0.767651 14.656 1.39899 15.075 1.75875L21.4449 7.22758C21.7664 7.50357 22.0118 7.85004 22.1663 8.23429H1C0.447715 8.23429 0 8.682 0 9.23429C0 9.78657 0.447715 10.2343 1 10.2343H22.1439C21.9885 10.597 21.7512 10.924 21.4449 11.187L15.075 16.6558C14.656 17.0156 14.6079 17.6469 14.9677 18.0659C15.3274 18.485 15.9588 18.533 16.3778 18.1733L22.7477 12.7044C23.7676 11.8288 24.3545 10.5515 24.3545 9.20727C24.3545 7.86302 23.7676 6.58576 22.7477 5.71011L16.3778 0.241286Z" fill="currentColor"/>
                </svg>
            </a>
        </div>
        <div class="banner-constructor__img">
            <div class="banner-constructor__img-wrapper">
                <img src="./assets/images/constructor.jpg" alt="">
            </div>
            <svg class="dots-list" width="74" height="14" viewBox="0 0 74 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="7" cy="6.99951" r="7" fill="#029FE3"/>
                <circle cx="27" cy="6.99951" r="7" fill="#E2017B"/>
                <circle cx="47" cy="6.99951" r="7" fill="#FFEB00"/>
                <circle cx="67" cy="6.99951" r="7" fill="black"/>
            </svg>
        </div>
    </div>
</div>