<div class="banners-4__wrapper">
    {% for i in 0..3 %}
        <div class="banners-4__item">
            <div class="banners-4__icon">
                <img src="./assets/images/delivery.png" alt="">
            </div>
            <p>Электронная визитка доступна по ссылке, которую можно отправить в сообщении</p>
        </div>
    {% endfor %}
</div>