<div class="banner__wrapper">
    <div class="slider">
        <div class="js-slider-banner">
            <div class="swiper-wrapper">
                <a href="#" class="swiper-slide">
                    <img class="img-desk" src="./assets/images/banner-1.jpg" alt="">
                    <img class="img-mob" src="./assets/images/banner-3.jpg" alt="">
                </a>
                <a href="#" class="swiper-slide">
                    <img class="img-desk" src="./assets/images/banner-2.jpg" alt="">
                    <img class="img-mob" src="./assets/images/banner-1.jpg" alt="">
                </a>
                <a href="#" class="swiper-slide">
                    <img class="img-desk" src="./assets/images/banner-3.jpg" alt="">
                    <img class="img-mob" src="./assets/images/banner-2.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>