<div class="catalog-links__wrapper">
    <div class="catalog-links__title">
        <h2>Другая<br>продукция</h2>
    </div>

    <div class="catalog-links">
        <div class="catalog-links__item">
            <div class="catalog-links__link-wrap accordion js-accordion">
                <div class="catalog-links__main-link accordion-btn js-accordion-btn">
                    <span>Цифровая офсетная печать</span>

                    <span class="arrow-close">
                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9567 0.120643C11.7472 -0.0592371 11.4315 -0.0352106 11.2516 0.174307C11.0717 0.383826 11.0958 0.699495 11.3053 0.879375L16.1201 5.01306C16.4896 5.33034 16.7416 5.7567 16.8446 6.22402H0.5C0.223858 6.22402 0 6.44787 0 6.72402C0 7.00016 0.223858 7.22402 0.5 7.22402H16.8351C16.7267 7.67529 16.4788 8.08609 16.1201 8.39409L11.3053 12.5278C11.0958 12.7077 11.0717 13.0233 11.2516 13.2328C11.4315 13.4424 11.7472 13.4664 11.9567 13.2865L16.7715 9.15282C17.4858 8.53956 17.8968 7.64502 17.8968 6.70358C17.8968 5.76213 17.4858 4.86759 16.7715 4.25433L11.9567 0.120643Z" fill="currentColor"/>
                        </svg>
                    </span>
                    <span class="arrow-open">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6981 1.06445C14.6981 0.788308 14.4742 0.56445 14.1981 0.56445C13.9219 0.56445 13.6981 0.788307 13.6981 1.06445L13.6981 9.49451C13.6981 10.3604 13.4072 11.1963 12.8796 11.8717L2.48501 1.47706C2.28974 1.2818 1.97316 1.2818 1.7779 1.47706C1.58264 1.67232 1.58264 1.9889 1.7779 2.18417L12.167 12.5733C11.5001 13.078 10.6828 13.3556 9.83694 13.3556L0.722788 13.3556C0.446644 13.3556 0.222787 13.5795 0.222786 13.8556C0.222785 14.1317 0.446643 14.3556 0.722785 14.3556L9.83694 14.3556C11.1262 14.3556 12.3626 13.8435 13.2743 12.9318C14.1859 12.0202 14.6981 10.7838 14.6981 9.49451L14.6981 1.06445Z" fill="currentColor"/>
                        </svg>
                    </span>
                </div>

                <div class="catalog-links__list accordion-body js-accordion-body">
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">3D наклейки</a>
                        <a href="#" class="catalog-links__link">Бейдж</a>
                        <a href="#" class="catalog-links__link">Билеты</a>
                        <a href="#" class="catalog-links__link">Блокноты</a>
                        <a href="#" class="catalog-links__link">Брошюра, каталог</a>
                        <a href="#" class="catalog-links__link">Буклеты</a>
                        <a href="#" class="catalog-links__link">Визитка NFC</a>
                        <a href="#" class="catalog-links__link">Визитки</a>
                        <a href="#" class="catalog-links__link">Диплом</a>
                        <a href="#" class="catalog-links__link">Инстаграм визитка</a>
                        <a href="#" class="catalog-links__link">Календари</a>
                    </div>
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">Наклейки</a>
                        <a href="#" class="catalog-links__link">Оперативная печать</a>
                        <a href="#" class="catalog-links__link">Открытки, пригласительные</a>
                        <a href="#" class="catalog-links__link">Офсетная печать</a>
                        <a href="#" class="catalog-links__link">Пакеты</a>
                        <a href="#" class="catalog-links__link">Папка фолдер</a>
                        <a href="#" class="catalog-links__link">Печати и штампы</a>
                        <a href="#" class="catalog-links__link">Плакат, афиша</a>
                    </div>
                </div>
            </div>
            <div class="catalog-links__link-wrap accordion js-accordion">
                <div class="catalog-links__main-link accordion-btn js-accordion-btn">
                    <span>Post материалы и оборудование для выставок</span>

                    <span class="arrow-close">
                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9567 0.120643C11.7472 -0.0592371 11.4315 -0.0352106 11.2516 0.174307C11.0717 0.383826 11.0958 0.699495 11.3053 0.879375L16.1201 5.01306C16.4896 5.33034 16.7416 5.7567 16.8446 6.22402H0.5C0.223858 6.22402 0 6.44787 0 6.72402C0 7.00016 0.223858 7.22402 0.5 7.22402H16.8351C16.7267 7.67529 16.4788 8.08609 16.1201 8.39409L11.3053 12.5278C11.0958 12.7077 11.0717 13.0233 11.2516 13.2328C11.4315 13.4424 11.7472 13.4664 11.9567 13.2865L16.7715 9.15282C17.4858 8.53956 17.8968 7.64502 17.8968 6.70358C17.8968 5.76213 17.4858 4.86759 16.7715 4.25433L11.9567 0.120643Z" fill="currentColor"/>
                        </svg>
                    </span>
                    <span class="arrow-open">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6981 1.06445C14.6981 0.788308 14.4742 0.56445 14.1981 0.56445C13.9219 0.56445 13.6981 0.788307 13.6981 1.06445L13.6981 9.49451C13.6981 10.3604 13.4072 11.1963 12.8796 11.8717L2.48501 1.47706C2.28974 1.2818 1.97316 1.2818 1.7779 1.47706C1.58264 1.67232 1.58264 1.9889 1.7779 2.18417L12.167 12.5733C11.5001 13.078 10.6828 13.3556 9.83694 13.3556L0.722788 13.3556C0.446644 13.3556 0.222787 13.5795 0.222786 13.8556C0.222785 14.1317 0.446643 14.3556 0.722785 14.3556L9.83694 14.3556C11.1262 14.3556 12.3626 13.8435 13.2743 12.9318C14.1859 12.0202 14.6981 10.7838 14.6981 9.49451L14.6981 1.06445Z" fill="currentColor"/>
                        </svg>
                    </span>
                </div>

                <div class="catalog-links__list accordion-body js-accordion-body">
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">3D наклейки</a>
                        <a href="#" class="catalog-links__link">Бейдж</a>
                        <a href="#" class="catalog-links__link">Билеты</a>
                        <a href="#" class="catalog-links__link">Блокноты</a>
                        <a href="#" class="catalog-links__link">Брошюра, каталог</a>
                        <a href="#" class="catalog-links__link">Буклеты</a>
                        <a href="#" class="catalog-links__link">Визитка NFC</a>
                        <a href="#" class="catalog-links__link">Визитки</a>
                        <a href="#" class="catalog-links__link">Диплом</a>
                        <a href="#" class="catalog-links__link">Инстаграм визитка</a>
                        <a href="#" class="catalog-links__link">Календари</a>
                        <a href="#" class="catalog-links__link">Книги</a>
                        <a href="#" class="catalog-links__link">Конверты</a>
                        <a href="#" class="catalog-links__link">Листовки</a>
                        <a href="#" class="catalog-links__link">Меню</a>
                    </div>
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">Наклейки</a>
                        <a href="#" class="catalog-links__link">Оперативная печать</a>
                        <a href="#" class="catalog-links__link">Открытки, пригласительные</a>
                        <a href="#" class="catalog-links__link">Офсетная печать</a>
                        <a href="#" class="catalog-links__link">Пакеты</a>
                        <a href="#" class="catalog-links__link">Папка фолдер</a>
                        <a href="#" class="catalog-links__link">Печати и штампы</a>
                        <a href="#" class="catalog-links__link">Плакат, афиша</a>
                        <a href="#" class="catalog-links__link">Пластиковые карты</a>
                        <a href="#" class="catalog-links__link">Подложка на стол, плейсменты</a>
                        <a href="#" class="catalog-links__link">Полиграфия</a>
                        <a href="#" class="catalog-links__link">Ризограф (документы, бланки)</a>
                        <a href="#" class="catalog-links__link">Самокопир</a>
                        <a href="#" class="catalog-links__link">Сборные тиражи</a>
                        <a href="#" class="catalog-links__link">Свадебная полиграфия</a>
                    </div>
                </div>
            </div>
            <div class="catalog-links__link-wrap accordion js-accordion">
                <div class="catalog-links__main-link accordion-btn js-accordion-btn">
                    <span>Цифровая офсетная печать</span>

                    <span class="arrow-close">
                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9567 0.120643C11.7472 -0.0592371 11.4315 -0.0352106 11.2516 0.174307C11.0717 0.383826 11.0958 0.699495 11.3053 0.879375L16.1201 5.01306C16.4896 5.33034 16.7416 5.7567 16.8446 6.22402H0.5C0.223858 6.22402 0 6.44787 0 6.72402C0 7.00016 0.223858 7.22402 0.5 7.22402H16.8351C16.7267 7.67529 16.4788 8.08609 16.1201 8.39409L11.3053 12.5278C11.0958 12.7077 11.0717 13.0233 11.2516 13.2328C11.4315 13.4424 11.7472 13.4664 11.9567 13.2865L16.7715 9.15282C17.4858 8.53956 17.8968 7.64502 17.8968 6.70358C17.8968 5.76213 17.4858 4.86759 16.7715 4.25433L11.9567 0.120643Z" fill="currentColor"/>
                        </svg>
                    </span>
                    <span class="arrow-open">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6981 1.06445C14.6981 0.788308 14.4742 0.56445 14.1981 0.56445C13.9219 0.56445 13.6981 0.788307 13.6981 1.06445L13.6981 9.49451C13.6981 10.3604 13.4072 11.1963 12.8796 11.8717L2.48501 1.47706C2.28974 1.2818 1.97316 1.2818 1.7779 1.47706C1.58264 1.67232 1.58264 1.9889 1.7779 2.18417L12.167 12.5733C11.5001 13.078 10.6828 13.3556 9.83694 13.3556L0.722788 13.3556C0.446644 13.3556 0.222787 13.5795 0.222786 13.8556C0.222785 14.1317 0.446643 14.3556 0.722785 14.3556L9.83694 14.3556C11.1262 14.3556 12.3626 13.8435 13.2743 12.9318C14.1859 12.0202 14.6981 10.7838 14.6981 9.49451L14.6981 1.06445Z" fill="currentColor"/>
                        </svg>
                    </span>
                </div>

                <div class="catalog-links__list accordion-body js-accordion-body">
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">3D наклейки</a>
                        <a href="#" class="catalog-links__link">Бейдж</a>
                        <a href="#" class="catalog-links__link">Билеты</a>
                        <a href="#" class="catalog-links__link">Блокноты</a>
                    </div>
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">Наклейки</a>
                        <a href="#" class="catalog-links__link">Оперативная печать</a>
                        <a href="#" class="catalog-links__link">Открытки, пригласительные</a>
                        <a href="#" class="catalog-links__link">Офсетная печать</a>
                    </div>
                </div>
            </div>
            <div class="catalog-links__link-wrap accordion js-accordion">
                <div class="catalog-links__main-link accordion-btn js-accordion-btn">
                    <span>Сувенирная продукция</span>

                    <span class="arrow-close">
                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9567 0.120643C11.7472 -0.0592371 11.4315 -0.0352106 11.2516 0.174307C11.0717 0.383826 11.0958 0.699495 11.3053 0.879375L16.1201 5.01306C16.4896 5.33034 16.7416 5.7567 16.8446 6.22402H0.5C0.223858 6.22402 0 6.44787 0 6.72402C0 7.00016 0.223858 7.22402 0.5 7.22402H16.8351C16.7267 7.67529 16.4788 8.08609 16.1201 8.39409L11.3053 12.5278C11.0958 12.7077 11.0717 13.0233 11.2516 13.2328C11.4315 13.4424 11.7472 13.4664 11.9567 13.2865L16.7715 9.15282C17.4858 8.53956 17.8968 7.64502 17.8968 6.70358C17.8968 5.76213 17.4858 4.86759 16.7715 4.25433L11.9567 0.120643Z" fill="currentColor"/>
                        </svg>
                    </span>
                    <span class="arrow-open">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6981 1.06445C14.6981 0.788308 14.4742 0.56445 14.1981 0.56445C13.9219 0.56445 13.6981 0.788307 13.6981 1.06445L13.6981 9.49451C13.6981 10.3604 13.4072 11.1963 12.8796 11.8717L2.48501 1.47706C2.28974 1.2818 1.97316 1.2818 1.7779 1.47706C1.58264 1.67232 1.58264 1.9889 1.7779 2.18417L12.167 12.5733C11.5001 13.078 10.6828 13.3556 9.83694 13.3556L0.722788 13.3556C0.446644 13.3556 0.222787 13.5795 0.222786 13.8556C0.222785 14.1317 0.446643 14.3556 0.722785 14.3556L9.83694 14.3556C11.1262 14.3556 12.3626 13.8435 13.2743 12.9318C14.1859 12.0202 14.6981 10.7838 14.6981 9.49451L14.6981 1.06445Z" fill="currentColor"/>
                        </svg>
                    </span>
                </div>

                <div class="catalog-links__list accordion-body js-accordion-body">
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">3D наклейки</a>
                        <a href="#" class="catalog-links__link">Бейдж</a>
                        <a href="#" class="catalog-links__link">Билеты</a>
                        <a href="#" class="catalog-links__link">Блокноты</a>
                        <a href="#" class="catalog-links__link">Брошюра, каталог</a>
                        <a href="#" class="catalog-links__link">Буклеты</a>
                        <a href="#" class="catalog-links__link">Визитка NFC</a>
                        <a href="#" class="catalog-links__link">Визитки</a>
                        <a href="#" class="catalog-links__link">Диплом</a>
                    </div>
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">Наклейки</a>
                        <a href="#" class="catalog-links__link">Оперативная печать</a>
                        <a href="#" class="catalog-links__link">Открытки, пригласительные</a>
                        <a href="#" class="catalog-links__link">Офсетная печать</a>
                        <a href="#" class="catalog-links__link">Пакеты</a>
                        <a href="#" class="catalog-links__link">Папка фолдер</a>
                        <a href="#" class="catalog-links__link">Печати и штампы</a>
                        <a href="#" class="catalog-links__link">Плакат, афиша</a>
                        <a href="#" class="catalog-links__link">Пластиковые карты</a>
                    </div>
                </div>
            </div>
            <div class="catalog-links__link-wrap accordion js-accordion">
                <div class="catalog-links__main-link accordion-btn js-accordion-btn">
                    <span>Текстиль</span>

                    <span class="arrow-close">
                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9567 0.120643C11.7472 -0.0592371 11.4315 -0.0352106 11.2516 0.174307C11.0717 0.383826 11.0958 0.699495 11.3053 0.879375L16.1201 5.01306C16.4896 5.33034 16.7416 5.7567 16.8446 6.22402H0.5C0.223858 6.22402 0 6.44787 0 6.72402C0 7.00016 0.223858 7.22402 0.5 7.22402H16.8351C16.7267 7.67529 16.4788 8.08609 16.1201 8.39409L11.3053 12.5278C11.0958 12.7077 11.0717 13.0233 11.2516 13.2328C11.4315 13.4424 11.7472 13.4664 11.9567 13.2865L16.7715 9.15282C17.4858 8.53956 17.8968 7.64502 17.8968 6.70358C17.8968 5.76213 17.4858 4.86759 16.7715 4.25433L11.9567 0.120643Z" fill="currentColor"/>
                        </svg>
                    </span>
                    <span class="arrow-open">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6981 1.06445C14.6981 0.788308 14.4742 0.56445 14.1981 0.56445C13.9219 0.56445 13.6981 0.788307 13.6981 1.06445L13.6981 9.49451C13.6981 10.3604 13.4072 11.1963 12.8796 11.8717L2.48501 1.47706C2.28974 1.2818 1.97316 1.2818 1.7779 1.47706C1.58264 1.67232 1.58264 1.9889 1.7779 2.18417L12.167 12.5733C11.5001 13.078 10.6828 13.3556 9.83694 13.3556L0.722788 13.3556C0.446644 13.3556 0.222787 13.5795 0.222786 13.8556C0.222785 14.1317 0.446643 14.3556 0.722785 14.3556L9.83694 14.3556C11.1262 14.3556 12.3626 13.8435 13.2743 12.9318C14.1859 12.0202 14.6981 10.7838 14.6981 9.49451L14.6981 1.06445Z" fill="currentColor"/>
                        </svg>
                    </span>
                </div>

                <div class="catalog-links__list accordion-body js-accordion-body">
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">3D наклейки</a>
                        <a href="#" class="catalog-links__link">Бейдж</a>
                        <a href="#" class="catalog-links__link">Билеты</a>
                        <a href="#" class="catalog-links__link">Блокноты</a>
                        <a href="#" class="catalog-links__link">Брошюра, каталог</a>
                        <a href="#" class="catalog-links__link">Буклеты</a>
                        <a href="#" class="catalog-links__link">Визитка NFC</a>
                        <a href="#" class="catalog-links__link">Визитки</a>
                        <a href="#" class="catalog-links__link">Диплом</a>
                        <a href="#" class="catalog-links__link">Инстаграм визитка</a>
                        <a href="#" class="catalog-links__link">Календари</a>
                        <a href="#" class="catalog-links__link">Книги</a>
                        <a href="#" class="catalog-links__link">Конверты</a>
                        <a href="#" class="catalog-links__link">Листовки</a>
                        <a href="#" class="catalog-links__link">Меню</a>
                    </div>
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">Наклейки</a>
                        <a href="#" class="catalog-links__link">Оперативная печать</a>
                        <a href="#" class="catalog-links__link">Открытки, пригласительные</a>
                        <a href="#" class="catalog-links__link">Офсетная печать</a>
                        <a href="#" class="catalog-links__link">Пакеты</a>
                        <a href="#" class="catalog-links__link">Папка фолдер</a>
                        <a href="#" class="catalog-links__link">Печати и штампы</a>
                        <a href="#" class="catalog-links__link">Плакат, афиша</a>
                        <a href="#" class="catalog-links__link">Пластиковые карты</a>
                        <a href="#" class="catalog-links__link">Подложка на стол, плейсменты</a>
                        <a href="#" class="catalog-links__link">Полиграфия</a>
                        <a href="#" class="catalog-links__link">Ризограф (документы, бланки)</a>
                        <a href="#" class="catalog-links__link">Самокопир</a>
                        <a href="#" class="catalog-links__link">Сборные тиражи</a>
                        <a href="#" class="catalog-links__link">Свадебная полиграфия</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog-links__item">
            <div class="catalog-links__link-wrap accordion js-accordion">
                <div class="catalog-links__main-link accordion-btn js-accordion-btn">
                    <span>Цифровая офсетная печать</span>

                    <span class="arrow-close">
                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9567 0.120643C11.7472 -0.0592371 11.4315 -0.0352106 11.2516 0.174307C11.0717 0.383826 11.0958 0.699495 11.3053 0.879375L16.1201 5.01306C16.4896 5.33034 16.7416 5.7567 16.8446 6.22402H0.5C0.223858 6.22402 0 6.44787 0 6.72402C0 7.00016 0.223858 7.22402 0.5 7.22402H16.8351C16.7267 7.67529 16.4788 8.08609 16.1201 8.39409L11.3053 12.5278C11.0958 12.7077 11.0717 13.0233 11.2516 13.2328C11.4315 13.4424 11.7472 13.4664 11.9567 13.2865L16.7715 9.15282C17.4858 8.53956 17.8968 7.64502 17.8968 6.70358C17.8968 5.76213 17.4858 4.86759 16.7715 4.25433L11.9567 0.120643Z" fill="currentColor"/>
                        </svg>
                    </span>
                    <span class="arrow-open">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6981 1.06445C14.6981 0.788308 14.4742 0.56445 14.1981 0.56445C13.9219 0.56445 13.6981 0.788307 13.6981 1.06445L13.6981 9.49451C13.6981 10.3604 13.4072 11.1963 12.8796 11.8717L2.48501 1.47706C2.28974 1.2818 1.97316 1.2818 1.7779 1.47706C1.58264 1.67232 1.58264 1.9889 1.7779 2.18417L12.167 12.5733C11.5001 13.078 10.6828 13.3556 9.83694 13.3556L0.722788 13.3556C0.446644 13.3556 0.222787 13.5795 0.222786 13.8556C0.222785 14.1317 0.446643 14.3556 0.722785 14.3556L9.83694 14.3556C11.1262 14.3556 12.3626 13.8435 13.2743 12.9318C14.1859 12.0202 14.6981 10.7838 14.6981 9.49451L14.6981 1.06445Z" fill="currentColor"/>
                        </svg>
                    </span>
                </div>

                <div class="catalog-links__list accordion-body js-accordion-body">
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">3D наклейки</a>
                        <a href="#" class="catalog-links__link">Бейдж</a>
                        <a href="#" class="catalog-links__link">Билеты</a>
                        <a href="#" class="catalog-links__link">Блокноты</a>
                        <a href="#" class="catalog-links__link">Брошюра, каталог</a>
                        <a href="#" class="catalog-links__link">Буклеты</a>
                        <a href="#" class="catalog-links__link">Визитка NFC</a>
                        <a href="#" class="catalog-links__link">Визитки</a>
                        <a href="#" class="catalog-links__link">Диплом</a>
                        <a href="#" class="catalog-links__link">Инстаграм визитка</a>
                        <a href="#" class="catalog-links__link">Календари</a>
                        <a href="#" class="catalog-links__link">Книги</a>
                        <a href="#" class="catalog-links__link">Конверты</a>
                        <a href="#" class="catalog-links__link">Листовки</a>
                        <a href="#" class="catalog-links__link">Меню</a>
                    </div>
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">Наклейки</a>
                        <a href="#" class="catalog-links__link">Оперативная печать</a>
                        <a href="#" class="catalog-links__link">Открытки, пригласительные</a>
                        <a href="#" class="catalog-links__link">Офсетная печать</a>
                        <a href="#" class="catalog-links__link">Пакеты</a>
                        <a href="#" class="catalog-links__link">Папка фолдер</a>
                        <a href="#" class="catalog-links__link">Печати и штампы</a>
                        <a href="#" class="catalog-links__link">Плакат, афиша</a>
                        <a href="#" class="catalog-links__link">Пластиковые карты</a>
                        <a href="#" class="catalog-links__link">Подложка на стол, плейсменты</a>
                        <a href="#" class="catalog-links__link">Полиграфия</a>
                        <a href="#" class="catalog-links__link">Ризограф (документы, бланки)</a>
                        <a href="#" class="catalog-links__link">Самокопир</a>
                        <a href="#" class="catalog-links__link">Сборные тиражи</a>
                        <a href="#" class="catalog-links__link">Свадебная полиграфия</a>
                    </div>
                </div>
            </div>
            <div class="catalog-links__link-wrap accordion js-accordion">
                <div class="catalog-links__main-link accordion-btn js-accordion-btn">
                    <span>Post материалы и оборудование для выставок</span>

                    <span class="arrow-close">
                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9567 0.120643C11.7472 -0.0592371 11.4315 -0.0352106 11.2516 0.174307C11.0717 0.383826 11.0958 0.699495 11.3053 0.879375L16.1201 5.01306C16.4896 5.33034 16.7416 5.7567 16.8446 6.22402H0.5C0.223858 6.22402 0 6.44787 0 6.72402C0 7.00016 0.223858 7.22402 0.5 7.22402H16.8351C16.7267 7.67529 16.4788 8.08609 16.1201 8.39409L11.3053 12.5278C11.0958 12.7077 11.0717 13.0233 11.2516 13.2328C11.4315 13.4424 11.7472 13.4664 11.9567 13.2865L16.7715 9.15282C17.4858 8.53956 17.8968 7.64502 17.8968 6.70358C17.8968 5.76213 17.4858 4.86759 16.7715 4.25433L11.9567 0.120643Z" fill="currentColor"/>
                        </svg>
                    </span>
                    <span class="arrow-open">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6981 1.06445C14.6981 0.788308 14.4742 0.56445 14.1981 0.56445C13.9219 0.56445 13.6981 0.788307 13.6981 1.06445L13.6981 9.49451C13.6981 10.3604 13.4072 11.1963 12.8796 11.8717L2.48501 1.47706C2.28974 1.2818 1.97316 1.2818 1.7779 1.47706C1.58264 1.67232 1.58264 1.9889 1.7779 2.18417L12.167 12.5733C11.5001 13.078 10.6828 13.3556 9.83694 13.3556L0.722788 13.3556C0.446644 13.3556 0.222787 13.5795 0.222786 13.8556C0.222785 14.1317 0.446643 14.3556 0.722785 14.3556L9.83694 14.3556C11.1262 14.3556 12.3626 13.8435 13.2743 12.9318C14.1859 12.0202 14.6981 10.7838 14.6981 9.49451L14.6981 1.06445Z" fill="currentColor"/>
                        </svg>
                    </span>
                </div>

                <div class="catalog-links__list accordion-body js-accordion-body">
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">3D наклейки</a>
                        <a href="#" class="catalog-links__link">Бейдж</a>
                        <a href="#" class="catalog-links__link">Билеты</a>
                        <a href="#" class="catalog-links__link">Блокноты</a>
                        <a href="#" class="catalog-links__link">Брошюра, каталог</a>
                    </div>
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">Наклейки</a>
                        <a href="#" class="catalog-links__link">Оперативная печать</a>
                        <a href="#" class="catalog-links__link">Открытки, пригласительные</a>
                        <a href="#" class="catalog-links__link">Офсетная печать</a>
                        <a href="#" class="catalog-links__link">Пакеты</a>
                    </div>
                </div>
            </div>
            <div class="catalog-links__link-wrap accordion js-accordion">
                <div class="catalog-links__main-link accordion-btn js-accordion-btn">
                    <span>Цифровая офсетная печать</span>

                    <span class="arrow-close">
                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9567 0.120643C11.7472 -0.0592371 11.4315 -0.0352106 11.2516 0.174307C11.0717 0.383826 11.0958 0.699495 11.3053 0.879375L16.1201 5.01306C16.4896 5.33034 16.7416 5.7567 16.8446 6.22402H0.5C0.223858 6.22402 0 6.44787 0 6.72402C0 7.00016 0.223858 7.22402 0.5 7.22402H16.8351C16.7267 7.67529 16.4788 8.08609 16.1201 8.39409L11.3053 12.5278C11.0958 12.7077 11.0717 13.0233 11.2516 13.2328C11.4315 13.4424 11.7472 13.4664 11.9567 13.2865L16.7715 9.15282C17.4858 8.53956 17.8968 7.64502 17.8968 6.70358C17.8968 5.76213 17.4858 4.86759 16.7715 4.25433L11.9567 0.120643Z" fill="currentColor"/>
                        </svg>
                    </span>
                    <span class="arrow-open">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6981 1.06445C14.6981 0.788308 14.4742 0.56445 14.1981 0.56445C13.9219 0.56445 13.6981 0.788307 13.6981 1.06445L13.6981 9.49451C13.6981 10.3604 13.4072 11.1963 12.8796 11.8717L2.48501 1.47706C2.28974 1.2818 1.97316 1.2818 1.7779 1.47706C1.58264 1.67232 1.58264 1.9889 1.7779 2.18417L12.167 12.5733C11.5001 13.078 10.6828 13.3556 9.83694 13.3556L0.722788 13.3556C0.446644 13.3556 0.222787 13.5795 0.222786 13.8556C0.222785 14.1317 0.446643 14.3556 0.722785 14.3556L9.83694 14.3556C11.1262 14.3556 12.3626 13.8435 13.2743 12.9318C14.1859 12.0202 14.6981 10.7838 14.6981 9.49451L14.6981 1.06445Z" fill="currentColor"/>
                        </svg>
                    </span>
                </div>

                <div class="catalog-links__list accordion-body js-accordion-body">
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">3D наклейки</a>
                        <a href="#" class="catalog-links__link">Бейдж</a>
                        <a href="#" class="catalog-links__link">Билеты</a>
                        <a href="#" class="catalog-links__link">Блокноты</a>
                        <a href="#" class="catalog-links__link">Брошюра, каталог</a>
                        <a href="#" class="catalog-links__link">Буклеты</a>
                        <a href="#" class="catalog-links__link">Визитка NFC</a>
                        <a href="#" class="catalog-links__link">Визитки</a>
                        <a href="#" class="catalog-links__link">Диплом</a>
                        <a href="#" class="catalog-links__link">Инстаграм визитка</a>
                        <a href="#" class="catalog-links__link">Календари</a>
                        <a href="#" class="catalog-links__link">Книги</a>
                        <a href="#" class="catalog-links__link">Конверты</a>
                        <a href="#" class="catalog-links__link">Листовки</a>
                        <a href="#" class="catalog-links__link">Меню</a>
                    </div>
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">Наклейки</a>
                        <a href="#" class="catalog-links__link">Оперативная печать</a>
                        <a href="#" class="catalog-links__link">Открытки, пригласительные</a>
                        <a href="#" class="catalog-links__link">Офсетная печать</a>
                        <a href="#" class="catalog-links__link">Пакеты</a>
                        <a href="#" class="catalog-links__link">Папка фолдер</a>
                        <a href="#" class="catalog-links__link">Печати и штампы</a>
                        <a href="#" class="catalog-links__link">Плакат, афиша</a>
                        <a href="#" class="catalog-links__link">Пластиковые карты</a>
                        <a href="#" class="catalog-links__link">Подложка на стол, плейсменты</a>
                        <a href="#" class="catalog-links__link">Полиграфия</a>
                        <a href="#" class="catalog-links__link">Ризограф (документы, бланки)</a>
                        <a href="#" class="catalog-links__link">Самокопир</a>
                        <a href="#" class="catalog-links__link">Сборные тиражи</a>
                        <a href="#" class="catalog-links__link">Свадебная полиграфия</a>
                    </div>
                </div>
            </div>
            <div class="catalog-links__link-wrap accordion js-accordion">
                <div class="catalog-links__main-link accordion-btn js-accordion-btn">
                    <span>Сувенирная продукция</span>

                    <span class="arrow-close">
                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9567 0.120643C11.7472 -0.0592371 11.4315 -0.0352106 11.2516 0.174307C11.0717 0.383826 11.0958 0.699495 11.3053 0.879375L16.1201 5.01306C16.4896 5.33034 16.7416 5.7567 16.8446 6.22402H0.5C0.223858 6.22402 0 6.44787 0 6.72402C0 7.00016 0.223858 7.22402 0.5 7.22402H16.8351C16.7267 7.67529 16.4788 8.08609 16.1201 8.39409L11.3053 12.5278C11.0958 12.7077 11.0717 13.0233 11.2516 13.2328C11.4315 13.4424 11.7472 13.4664 11.9567 13.2865L16.7715 9.15282C17.4858 8.53956 17.8968 7.64502 17.8968 6.70358C17.8968 5.76213 17.4858 4.86759 16.7715 4.25433L11.9567 0.120643Z" fill="currentColor"/>
                        </svg>
                    </span>
                    <span class="arrow-open">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6981 1.06445C14.6981 0.788308 14.4742 0.56445 14.1981 0.56445C13.9219 0.56445 13.6981 0.788307 13.6981 1.06445L13.6981 9.49451C13.6981 10.3604 13.4072 11.1963 12.8796 11.8717L2.48501 1.47706C2.28974 1.2818 1.97316 1.2818 1.7779 1.47706C1.58264 1.67232 1.58264 1.9889 1.7779 2.18417L12.167 12.5733C11.5001 13.078 10.6828 13.3556 9.83694 13.3556L0.722788 13.3556C0.446644 13.3556 0.222787 13.5795 0.222786 13.8556C0.222785 14.1317 0.446643 14.3556 0.722785 14.3556L9.83694 14.3556C11.1262 14.3556 12.3626 13.8435 13.2743 12.9318C14.1859 12.0202 14.6981 10.7838 14.6981 9.49451L14.6981 1.06445Z" fill="currentColor"/>
                        </svg>
                    </span>
                </div>

                <div class="catalog-links__list accordion-body js-accordion-body">
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">3D наклейки</a>
                        <a href="#" class="catalog-links__link">Бейдж</a>
                        <a href="#" class="catalog-links__link">Билеты</a>
                        <a href="#" class="catalog-links__link">Блокноты</a>
                        <a href="#" class="catalog-links__link">Брошюра, каталог</a>
                        <a href="#" class="catalog-links__link">Буклеты</a>
                        <a href="#" class="catalog-links__link">Визитка NFC</a>
                        <a href="#" class="catalog-links__link">Визитки</a>
                        <a href="#" class="catalog-links__link">Диплом</a>
                        <a href="#" class="catalog-links__link">Инстаграм визитка</a>
                        <a href="#" class="catalog-links__link">Календари</a>
                        <a href="#" class="catalog-links__link">Книги</a>
                        <a href="#" class="catalog-links__link">Конверты</a>
                        <a href="#" class="catalog-links__link">Листовки</a>
                        <a href="#" class="catalog-links__link">Меню</a>
                    </div>
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">Наклейки</a>
                        <a href="#" class="catalog-links__link">Оперативная печать</a>
                        <a href="#" class="catalog-links__link">Открытки, пригласительные</a>
                        <a href="#" class="catalog-links__link">Офсетная печать</a>
                        <a href="#" class="catalog-links__link">Пакеты</a>
                        <a href="#" class="catalog-links__link">Папка фолдер</a>
                        <a href="#" class="catalog-links__link">Печати и штампы</a>
                        <a href="#" class="catalog-links__link">Плакат, афиша</a>
                        <a href="#" class="catalog-links__link">Пластиковые карты</a>
                        <a href="#" class="catalog-links__link">Подложка на стол, плейсменты</a>
                        <a href="#" class="catalog-links__link">Полиграфия</a>
                        <a href="#" class="catalog-links__link">Ризограф (документы, бланки)</a>
                        <a href="#" class="catalog-links__link">Самокопир</a>
                        <a href="#" class="catalog-links__link">Сборные тиражи</a>
                        <a href="#" class="catalog-links__link">Свадебная полиграфия</a>
                    </div>
                </div>
            </div>
            <div class="catalog-links__link-wrap accordion js-accordion">
                <div class="catalog-links__main-link accordion-btn js-accordion-btn">
                    <span>Текстиль</span>

                    <span class="arrow-close">
                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9567 0.120643C11.7472 -0.0592371 11.4315 -0.0352106 11.2516 0.174307C11.0717 0.383826 11.0958 0.699495 11.3053 0.879375L16.1201 5.01306C16.4896 5.33034 16.7416 5.7567 16.8446 6.22402H0.5C0.223858 6.22402 0 6.44787 0 6.72402C0 7.00016 0.223858 7.22402 0.5 7.22402H16.8351C16.7267 7.67529 16.4788 8.08609 16.1201 8.39409L11.3053 12.5278C11.0958 12.7077 11.0717 13.0233 11.2516 13.2328C11.4315 13.4424 11.7472 13.4664 11.9567 13.2865L16.7715 9.15282C17.4858 8.53956 17.8968 7.64502 17.8968 6.70358C17.8968 5.76213 17.4858 4.86759 16.7715 4.25433L11.9567 0.120643Z" fill="currentColor"/>
                        </svg>
                    </span>
                    <span class="arrow-open">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6981 1.06445C14.6981 0.788308 14.4742 0.56445 14.1981 0.56445C13.9219 0.56445 13.6981 0.788307 13.6981 1.06445L13.6981 9.49451C13.6981 10.3604 13.4072 11.1963 12.8796 11.8717L2.48501 1.47706C2.28974 1.2818 1.97316 1.2818 1.7779 1.47706C1.58264 1.67232 1.58264 1.9889 1.7779 2.18417L12.167 12.5733C11.5001 13.078 10.6828 13.3556 9.83694 13.3556L0.722788 13.3556C0.446644 13.3556 0.222787 13.5795 0.222786 13.8556C0.222785 14.1317 0.446643 14.3556 0.722785 14.3556L9.83694 14.3556C11.1262 14.3556 12.3626 13.8435 13.2743 12.9318C14.1859 12.0202 14.6981 10.7838 14.6981 9.49451L14.6981 1.06445Z" fill="currentColor"/>
                        </svg>
                    </span>
                </div>

                <div class="catalog-links__list accordion-body js-accordion-body">
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">3D наклейки</a>
                        <a href="#" class="catalog-links__link">Бейдж</a>
                        <a href="#" class="catalog-links__link">Билеты</a>
                        <a href="#" class="catalog-links__link">Блокноты</a>
                        <a href="#" class="catalog-links__link">Брошюра, каталог</a>
                        <a href="#" class="catalog-links__link">Буклеты</a>
                        <a href="#" class="catalog-links__link">Визитка NFC</a>
                        <a href="#" class="catalog-links__link">Визитки</a>
                        <a href="#" class="catalog-links__link">Диплом</a>
                        <a href="#" class="catalog-links__link">Инстаграм визитка</a>
                        <a href="#" class="catalog-links__link">Календари</a>
                        <a href="#" class="catalog-links__link">Книги</a>
                        <a href="#" class="catalog-links__link">Конверты</a>
                        <a href="#" class="catalog-links__link">Листовки</a>
                        <a href="#" class="catalog-links__link">Меню</a>
                    </div>
                    <div class="catalog-links__list-col">
                        <a href="#" class="catalog-links__link">Наклейки</a>
                        <a href="#" class="catalog-links__link">Оперативная печать</a>
                        <a href="#" class="catalog-links__link">Открытки, пригласительные</a>
                        <a href="#" class="catalog-links__link">Офсетная печать</a>
                        <a href="#" class="catalog-links__link">Пакеты</a>
                        <a href="#" class="catalog-links__link">Папка фолдер</a>
                        <a href="#" class="catalog-links__link">Печати и штампы</a>
                        <a href="#" class="catalog-links__link">Плакат, афиша</a>
                        <a href="#" class="catalog-links__link">Пластиковые карты</a>
                        <a href="#" class="catalog-links__link">Подложка на стол, плейсменты</a>
                        <a href="#" class="catalog-links__link">Полиграфия</a>
                        <a href="#" class="catalog-links__link">Ризограф (документы, бланки)</a>
                        <a href="#" class="catalog-links__link">Самокопир</a>
                        <a href="#" class="catalog-links__link">Сборные тиражи</a>
                        <a href="#" class="catalog-links__link">Свадебная полиграфия</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>