<div class="form__wrapper">
    <div class="container">
        <div class="form">
            <div class="form__col">
                <div class="form__title">
                    Не нашли нужный формат<br>
                    <span>бейджей?</span>
                </div>
                <div class="form__subtitle">
                    Оставьте заявку, мы свяжемся с вами в ближайшее время
                </div>
            </div>

            <div class="form__col">
                <form action="">
                    <input type="text" placeholder="Ваше имя">
                    <input class=" js-mask-phone" type="tel" placeholder="Ваш телефон">
                    <textarea placeholder="Особые пожелания..." cols="30" rows="10"></textarea>
                    <div class="upload-file__wrapper">
                        <input type="file" name="files[]" id="upload-file__input_1"class="upload-file__input" accept=".jpg, .jpeg, .png, .gif, .bmp, .doc, .docx, .xls, .xlsx, .txt, .tar, .zip, .7z, .7zip">
                        <label class="upload-file__label" for="upload-file__input_1">
                            <span>Прикрепить макет</span>
                        </label>
                        <div class="upload-file__text"></div>
                    </div>
                    <button class="button-primary button-primary_primary" type="button">
                        Оставить<br>заявку

                        <svg width="25" height="19" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.3778 0.241286C15.9588 -0.118474 15.3274 -0.0704212 14.9677 0.348615C14.6079 0.767651 14.656 1.39899 15.075 1.75875L21.4449 7.22758C21.7664 7.50357 22.0118 7.85004 22.1663 8.23429H1C0.447715 8.23429 0 8.682 0 9.23429C0 9.78657 0.447715 10.2343 1 10.2343H22.1439C21.9885 10.597 21.7512 10.924 21.4449 11.187L15.075 16.6558C14.656 17.0156 14.6079 17.6469 14.9677 18.0659C15.3274 18.485 15.9588 18.533 16.3778 18.1733L22.7477 12.7044C23.7676 11.8288 24.3545 10.5515 24.3545 9.20727C24.3545 7.86302 23.7676 6.58576 22.7477 5.71011L16.3778 0.241286Z" fill="currentColor"/>
                        </svg>
                    </button>
                    <p>Я согласен на <a href="#">обработку персональных данных и получение информационно-рекламных рассылок</a></p>
                </form>
            </div>
        </div>
    </div>
</div>