<div class="img-3items__wrapper">
    <div class="img-3items__title"><h2>Кашированный квартальный календарь</h2></div>
    <div class="img-3items__list">
        <a href="#" class="img-3items__item"><img src="./assets/images/catalog-1.jpg" alt=""></a>
        <a href="#" class="img-3items__item"><img src="./assets/images/catalog-1.jpg" alt=""></a>
        <a href="#" class="img-3items__item"><img src="./assets/images/catalog-1.jpg" alt=""></a>
    </div>
</div>