<div class="label-images__wrapper">
    <div class="label-images__title">
        <h2>Виды переплета книг</h2>
    </div>
    <div class="label-images__img">
        <img src="./assets/images/img.png" alt="">
    </div>
</div>