<div class="slider-4items portfolio__wrapper">
    <div class="slider-4items__title">
        <p>Наше портфолио</p>
    </div>
    <div class="js-slider-4items">
        <div class="slider-4items__wrapper swiper-wrapper">
            <a href="#" class="slider-4items__item swiper-slide">
                <div class="slider-img"><img src="./assets/images/banner-2.jpg" alt=""></div>
            </a>
            <a href="#" class="slider-4items__item swiper-slide">
                <div class="slider-img"><img src="./assets/images/banner-2.jpg" alt=""></div>
            </a>
            <a href="#" class="slider-4items__item swiper-slide">
                <div class="slider-img"><img src="./assets/images/banner-2.jpg" alt=""></div>
            </a>
            <a href="#" class="slider-4items__item swiper-slide">
                <div class="slider-img"><img src="./assets/images/banner-2.jpg" alt=""></div>
            </a>
            <a href="#" class="slider-4items__item swiper-slide">
                <div class="slider-img"><img src="./assets/images/banner-2.jpg" alt=""></div>
            </a>
            <a href="#" class="slider-4items__item swiper-slide">
                <div class="slider-img"><img src="./assets/images/banner-2.jpg" alt=""></div>
            </a>
        </div>
        <div class="slider-4items__buttons">
            <div class="swiper-button swiper-button-prev">
                <svg width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.97113 23.1586C10.3902 23.5184 11.0215 23.4703 11.3813 23.0513C11.741 22.6322 11.693 22.0009 11.2739 21.6412L3.23855 14.7424C2.70274 14.2824 2.322 13.6786 2.13383 13.0127L29.1993 13.0127C29.7516 13.0127 30.1993 12.565 30.1993 12.0127C30.1993 11.4604 29.7516 11.0127 29.1993 11.0127L2.15383 11.0127C2.34825 10.3737 2.72108 9.79533 3.23855 9.35107L11.2739 2.45236C11.693 2.0926 11.741 1.46126 11.3813 1.04223C11.0215 0.62319 10.3902 0.575136 9.97113 0.934897L1.93575 7.8336C0.707008 8.88853 2.7837e-05 10.4273 2.76954e-05 12.0468C2.75538e-05 13.6662 0.707009 15.205 1.93575 16.2599L9.97113 23.1586Z" fill="currentColor"/>
                </svg>
            </div>
            <div class="swiper-button swiper-button-next">
                <svg width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.6453 0.934645C20.2263 0.574885 19.595 0.622938 19.2352 1.04197C18.8754 1.46101 18.9235 2.09235 19.3425 2.45211L27.3779 9.35082C27.9137 9.81083 28.2945 10.4146 28.4826 11.0806H1.41711C0.864829 11.0806 0.417114 11.5283 0.417114 12.0806C0.417114 12.6329 0.864829 13.0806 1.41711 13.0806H28.4626C28.2682 13.7195 27.8954 14.2979 27.3779 14.7422L19.3425 21.6409C18.9235 22.0007 18.8754 22.632 19.2352 23.051C19.595 23.4701 20.2263 23.5181 20.6453 23.1584L28.6807 16.2597C29.9094 15.2047 30.6164 13.666 30.6164 12.0465C30.6164 10.427 29.9094 8.88828 28.6807 7.83335L20.6453 0.934645Z" fill="currentColor"/>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="portfolio__info">
    <h2 class="portfolio__title">Особенности<br> бейджей</h2>
    <div class="portfolio__text">
        <p>Мы изготавливаем различные пакеты: бумажные, полиэтиленовые пакеты, пакеты – майки, а также крафт – пакеты. Самые дешевые – пакеты майки, но нужно учитывать, что тираж таких от 50000 экземпляров. Мы сможем произвести пакет абсолютно любого размера. Печать на таких пакетах также делается, но не рекомендуется из-за ее дороговизны. На складе есть готовые крафт – пакеты с нанесением или без, тираж от 600 штук, бумажные пакеты имеют форму бутылки, они могут пригодиться для подарка на новый год или любой другой праздник, единственный их минус – дороговизна. Вы можете подойти к нам в офис для согласования ваших планов и ожиданий с нашими менеджерами и дизайнерами. Оптимальная стоимость и привлекательный дизайн обеспечены.</p>
        <p>Мы изготавливаем различные пакеты: бумажные, полиэтиленовые пакеты, пакеты – майки, а также крафт – пакеты. Самые дешевые – пакеты майки, но нужно учитывать, что тираж таких от 50000 экземпляров. Мы сможем произвести пакет абсолютно любого размера. Печать на таких пакетах также делается, но не рекомендуется из-за ее дороговизны. На складе есть готовые крафт – пакеты с нанесением или без, тираж от 600 штук, бумажные пакеты имеют форму бутылки, они могут пригодиться для подарка на новый год или любой другой праздник, единственный их минус – дороговизна. Вы можете подойти к нам в офис для согласования ваших планов и ожиданий с нашими менеджерами и дизайнерами. Оптимальная стоимость и привлекательный дизайн обеспечены.</p>
    </div>
</div>