<div class="price-item-row__wrapper">
    <div class="price-item-row__title">
        <h2>Стоимость разработки фирменного стиля</h2>
    </div>
    <div class="price-item-row__list">
        <div class="price-item-row__item">
            <div class="price-item-row__text">
                <h3 class="price-item-row__number">01</h3>
                <div class="price-item-row__label">
                    <h3>Начальный пакет</h3>
                    <div class="price-list__item-price"><span>от 14</span> дней</div>
                </div>
                <div class="price-item-row__desc">
                    <p>а) Логотип<br>
                        б) Фирменные цвета<br>
                        в) Шрифтовые решения<br>
                        г) Примеры корпоративной продукции:<br>
                        <br><br>
                        - Визитная карточка<br>
                        - Фирменный бланк<br>
                        - Конверт или папка</p>
                </div>
            </div>

            <div class="price-item-row__img">
                <img src="./assets/images/catalog-2.jpg" alt="">
            </div>

            <div class="price-item-row__price">
                <div class="price-item-row__col">
                    <h3>Стоимость:</h3>
                    <div class="price-list__item-price"><span>от 9000</span> руб.</div>
                </div>
                <div class="price-item-row__col">
                    {% include '../UI/button.twig' with {
                        href: '#',
                        colorClass: 'primary',
                        class: 'text-first',
                        text: 'Заказать расчет',
                        svg: '<svg width="31" height="23" viewBox="0 0 31 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.2282 0.241286C19.8092 -0.118474 19.1778 -0.0704212 18.8181 0.348615C18.4583 0.767651 18.5064 1.39899 18.9254 1.75875L26.9608 8.65746C27.4966 9.11747 27.8773 9.72128 28.0655 10.3872L1 10.3872C0.447715 10.3872 0 10.8349 0 11.3872C0 11.9395 0.447715 12.3872 1 12.3872L28.0455 12.3872C27.8511 13.0262 27.4783 13.6046 26.9608 14.0488L18.9254 20.9475C18.5064 21.3073 18.4583 21.9386 18.8181 22.3577C19.1778 22.7767 19.8092 22.8248 20.2282 22.465L28.2636 15.5663C29.4923 14.5114 30.1993 12.9726 30.1993 11.3531C30.1993 9.73368 29.4923 8.19492 28.2636 7.13999L20.2282 0.241286Z" fill="currentColor"/>
                            </svg>',
                    } %}
                </div>
            </div>
        </div>

        <div class="price-item-row__item">
            <div class="price-item-row__text">
                <h3 class="price-item-row__number">01</h3>
                <div class="price-item-row__label">
                    <h3>Начальный пакет</h3>
                    <div class="price-list__item-price"><span>от 14</span> дней</div>
                </div>
                <div class="price-item-row__desc">
                    <p>а) Логотип<br>
                        б) Фирменные цвета<br>
                        в) Шрифтовые решения<br>
                        г) Примеры корпоративной продукции:<br>
                        <br><br>
                        - Визитная карточка<br>
                        - Фирменный бланк<br>
                        - Конверт или папка</p>
                </div>
            </div>
            <div class="price-item-row__img">
                <img src="./assets/images/catalog-2.jpg" alt="">
            </div>
            <div class="price-item-row__price">
                <div class="price-item-row__col">
                    <h3>Стоимость:</h3>
                    <div class="price-list__item-price"><span>от 9000</span> руб.</div>
                </div>
                <div class="price-item-row__col">
                    {% include '../UI/button.twig' with {
                        href: '#',
                        colorClass: 'primary',
                        class: 'text-first',
                        text: 'Заказать расчет',
                        svg: '<svg width="31" height="23" viewBox="0 0 31 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.2282 0.241286C19.8092 -0.118474 19.1778 -0.0704212 18.8181 0.348615C18.4583 0.767651 18.5064 1.39899 18.9254 1.75875L26.9608 8.65746C27.4966 9.11747 27.8773 9.72128 28.0655 10.3872L1 10.3872C0.447715 10.3872 0 10.8349 0 11.3872C0 11.9395 0.447715 12.3872 1 12.3872L28.0455 12.3872C27.8511 13.0262 27.4783 13.6046 26.9608 14.0488L18.9254 20.9475C18.5064 21.3073 18.4583 21.9386 18.8181 22.3577C19.1778 22.7767 19.8092 22.8248 20.2282 22.465L28.2636 15.5663C29.4923 14.5114 30.1993 12.9726 30.1993 11.3531C30.1993 9.73368 29.4923 8.19492 28.2636 7.13999L20.2282 0.241286Z" fill="currentColor"/>
                            </svg>',
                    } %}
                </div>
            </div>
        </div>
    </div>
</div>