<div class="text-info__wrapper">
    <div class="text-info__subtitle">
        <p>Типография Атмосфера</p>
        <div class="dots-icon">
            <svg width="74" height="14" viewBox="0 0 74 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 7C14 10.866 10.866 14 7 14C3.13401 14 0 10.866 0 7C0 3.13401 3.13401 0 7 0C10.866 0 14 3.13401 14 7Z" fill="#029FE3"/>
                <path d="M34 7C34 10.866 30.866 14 27 14C23.134 14 20 10.866 20 7C20 3.13401 23.134 0 27 0C30.866 0 34 3.13401 34 7Z" fill="#E2017B"/>
                <path d="M54 7C54 10.866 50.866 14 47 14C43.134 14 40 10.866 40 7C40 3.13401 43.134 0 47 0C50.866 0 54 3.13401 54 7Z" fill="#FFEB00"/>
                <path d="M74 7C74 10.866 70.866 14 67 14C63.134 14 60 10.866 60 7C60 3.13401 63.134 0 67 0C70.866 0 74 3.13401 74 7Z" fill="black"/>
            </svg>
        </div>
    </div>
    <div class="text-info">
        <h2 class="text-info__title">Оперативная печать по выгодным ценам!</h2>
        <div class="text-info__text">
            <p>Мы оказываем услуги офсетной, широкоформатной и интерьерной печати. Мы сможем спроектировать наружную и внутреннюю рекламу. Типография имеет широкий парк оборудования и собственную дизайн-студию.</p>
            <p>Широкий штат гарантирует качественное обеспечение клиента на всех этапах сотрудничества. Это позволить вам значительно сэкономить время и деньги. Менеджеры не просто подсчитают ваш заказ, а предложат оптимальное соотношение цены, качества и тиража товара. Наш стаж на рынке 6 лет, тысячи клиентов и положительных отзывов.</p>
        </div>
    </div>
</div>