<header class="website-header">

    <div class="header__wrapper">
        <div class="container">
            <ul class="header__links">
                <li><a href="#">Изделия из фанеры</a></li>
                <li><a href="#">Сувениры</a></li>
                <li><a href="#">Полиграфия</a></li>
                <li><a href="#">Наружная реклама</a></li>
            </ul>
            <div class="header__controllers">
                <a href="#">
                    <span>
                        <svg width="15" height="17" viewBox="0 0 15 17" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.767319 6.792C0.767319 3.07913 3.78712 0.0593262 7.49999 0.0593262C11.2129 0.0593262 14.2327 3.07913 14.2574 6.76725C14.2574 7.2623 14.2079 7.73259 14.1089 8.20289C14.0842 8.2524 14.0842 8.27715 14.0842 8.3019C13.3703 11.4427 8.5624 16.1616 7.99316 16.7203C7.97022 16.7429 7.95416 16.7586 7.94554 16.7672C7.82177 16.891 7.67326 16.9405 7.52474 16.9405C7.37623 16.9405 7.22772 16.8663 7.10395 16.7672C7.09479 16.7581 7.07718 16.7408 7.05177 16.716C6.45924 16.1361 1.62787 11.4081 0.915834 8.22764C0.891081 8.20289 0.891081 8.15339 0.891081 8.12863C0.816824 7.68309 0.767319 7.23754 0.767319 6.792ZM12.9208 8.05438V8.00487C12.995 7.60883 13.0445 7.21279 13.0693 6.792C13.0693 3.72269 10.5941 1.24745 7.52474 1.24745C4.45544 1.24745 1.98019 3.74744 1.98019 6.792C1.98019 7.18804 2.0297 7.55933 2.10395 7.93061V8.00487C2.67326 10.4801 6.28712 14.2672 7.52474 15.5049C8.76237 14.2672 12.3762 10.4801 12.9208 8.05438ZM5.24753 6.09893C5.24753 4.86131 6.26238 3.84646 7.5 3.84646C8.73762 3.84646 9.75247 4.86131 9.75247 6.09893C9.75247 7.33656 8.73762 8.35141 7.5 8.35141C6.26238 8.35141 5.24753 7.33656 5.24753 6.09893ZM6.43564 6.09893C6.43564 6.69299 6.90594 7.16329 7.5 7.16329C8.09406 7.16329 8.56436 6.69299 8.56436 6.09893C8.56436 5.50487 8.09406 5.03458 7.5 5.03458C6.90594 5.03458 6.43564 5.50487 6.43564 6.09893Z" fill="currentColor"/>
                        </svg>
                    </span>
                    Новосибирск
                </a>
                <a href="#">
                    <span>
                        <svg width="14" height="16" viewBox="0 0 14 16" fill="none">
                            <path d="M7 0.75C4.34936 0.75 2.1875 2.91186 2.1875 5.5625C2.1875 7.20874 3.02539 8.66968 4.29297 9.53711C1.83301 10.5845 0.125 13.0283 0.125 15.875H1.5C1.5 12.8054 3.93042 10.375 7 10.375C10.0696 10.375 12.5 12.8054 12.5 15.875H13.875C13.875 13.0283 12.167 10.5845 9.70703 9.53711C10.9746 8.66968 11.8125 7.20874 11.8125 5.5625C11.8125 2.91186 9.65064 0.75 7 0.75ZM7 2.125C8.90674 2.125 10.4375 3.65576 10.4375 5.5625C10.4375 7.46924 8.90674 9 7 9C5.09326 9 3.5625 7.46924 3.5625 5.5625C3.5625 3.65576 5.09326 2.125 7 2.125Z" fill="currentColor"/>
                        </svg>
                    </span>
                    Личный кабинет
                </a>
                <a href="#">
                    Заказать звонок
                    <span>
                        <svg width="27" height="21" viewBox="0 0 27 21" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.9594 1.11663C17.5439 0.752759 16.9121 0.794596 16.5483 1.21007C16.1844 1.62555 16.2262 2.25733 16.6417 2.62119L23.4828 8.61256C23.8855 8.96521 24.1824 9.41431 24.351 9.91032H1.44897C0.89669 9.91032 0.448975 10.358 0.448975 10.9103C0.448975 11.4626 0.89669 11.9103 1.44897 11.9103H24.3302C24.1585 12.3828 23.8694 12.8103 23.4828 13.1488L16.6417 19.1402C16.2262 19.504 16.1844 20.1358 16.5483 20.5513C16.9121 20.9668 17.5439 21.0086 17.9594 20.6447L24.8005 14.6534C25.8878 13.7011 26.5114 12.326 26.5114 10.8807C26.5114 9.43532 25.8878 8.06025 24.8005 7.10799L17.9594 1.11663Z" fill="currentColor"/>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="header-menu__wrapper">
        <div class="container">
            <div class="header-menu__info">
                <div class="header-menu__logo">
                    <a href="#" class="logo">
                        <img src="./assets/images/logo.png" alt="">
                    </a>
                    <p class="header-menu__logo-desc">Полиграфия. Сувениры<br>Вывески. Упаковка</p>
                </div>
                <div class="header-menu__contacts">
                    <div class="header-menu__contacts-sn list-sn">
                        <a href="#">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00609 0.041634C6.16284 0.131178 3.49678 -0.0786021 3.02924 0.041634C1.71986 0.378434 0.375412 1.72644 0.0431274 3.02958C-0.0897624 3.55062 0.135551 5.99565 0.0431274 8.0095C-0.00993076 9.16523 -0.00980851 11.8291 0.0431274 12.9894C0.132006 14.937 -0.0846685 17.4683 0.0431274 17.9693C0.376308 19.2759 1.72667 20.6232 3.02924 20.9573C3.53692 21.0875 6.01772 20.8655 8.00609 20.9573C9.16077 21.0106 11.8283 21.0106 12.9829 20.9573C15.006 20.8639 17.4443 21.0895 17.9598 20.9573C19.3379 20.6038 20.6686 19.3672 20.9459 17.9693C21.0678 17.3547 20.9455 13.9143 20.9459 12.9894C20.9217 12.9894 20.946 12.7648 20.9459 12.9894C20.9726 12.9894 20.9463 11.4255 20.9459 10.0015C20.9455 8.8045 20.9644 7.98024 20.9459 8.0095C20.9271 8.03925 20.9609 8.43981 20.9459 8.0095C20.892 6.46625 21.074 3.53198 20.9459 3.02958C20.6107 1.71504 19.2715 0.378066 17.9598 0.041634C17.4494 -0.0892689 15.033 0.13927 12.9829 0.041634C11.9913 -0.00561039 8.99341 -0.00634603 8.00609 0.041634ZM9.00146 7.01352C8.65878 7.04895 8.1347 6.84955 8.00609 7.01352C7.79345 6.94359 7.88551 7.16726 8.00609 7.01352C8.50439 7.17736 8.98202 7.89455 9.00146 9.00548C9.02954 10.6108 8.57738 10.6203 8.00609 10.0015C7.65412 9.6202 7.38746 8.79103 7.01072 8.0095C6.8211 7.61614 7.05069 7.09219 7.01072 7.01352C6.96495 6.92348 6.12737 7.07139 6.01535 7.01352C5.84391 6.92491 6.06561 7.01352 5.01998 7.01352C4.02027 7.01352 4.08671 6.94465 4.02461 7.01352C3.89522 7.15688 3.68161 7.26994 4.02461 8.0095C4.78335 9.64544 5.20139 10.949 6.01535 11.9934C6.80103 13.0015 7.92746 13.7094 9.00146 13.9854C9.67622 14.1588 10.8062 14.1543 10.9922 13.9854C11.1189 13.8705 11.9202 13.4068 11.9876 12.9894C11.8882 13.0891 12.0676 12.4936 11.9876 12.9894C11.8315 12.9085 12.0808 12.8959 11.9876 12.9894C12.0485 13.021 12.6245 12.6176 12.9829 12.9894C13.8553 13.8941 13.795 13.9373 14.9737 13.9854C15.9256 14.0243 16.7896 14.1002 16.9644 13.9854C17.02 14.1714 17.1236 13.8808 16.9644 13.9854C16.8799 13.7026 16.7365 12.7815 15.969 11.9934C15.2132 11.2173 14.948 11.2314 14.9737 10.9974C14.9905 10.8445 15.3328 10.8687 15.969 10.0015C16.826 8.83339 16.8257 8.41333 16.9644 8.0095C17.068 7.70821 17.0118 7.11283 16.9644 7.01352C16.932 6.94567 17.0505 7.04306 16.9644 7.01352C16.777 6.94923 14.1585 6.9505 13.9783 7.01352C13.8259 7.06681 14.1369 7.60903 13.9783 8.0095C13.6097 8.94 12.5259 9.48121 11.9876 10.0015C11.7704 10.2113 12.104 10.235 11.9876 10.0015C11.9112 9.84829 10.9928 10.2309 10.9922 9.00548C10.9919 8.28619 10.9975 7.07453 10.9922 7.01352C10.9766 6.83259 11.214 7.06289 10.9922 7.01352C10.7418 6.95777 9.39776 6.97257 9.00146 7.01352ZM0.0431274 10.0015C0.0431274 11.204 0.0367702 12.5947 0.0431274 11.9934C0.0494846 11.3922 0.0494846 9.60679 0.0431274 9.00548C0.0367702 8.40418 0.0431274 8.7989 0.0431274 10.0015Z" fill="currentColor"/>
                            </svg>
                        </a>
                        <a href="#">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00852 0.042293C6.25758 0.120923 3.51254 -0.0814938 3.02977 0.042293C1.7267 0.376388 0.375833 1.72364 0.0425218 3.03015C-0.0853226 3.53119 0.131435 6.06235 0.0425218 8.00991C-0.0101083 9.163 -0.0101083 11.801 0.0425218 12.9897C0.127888 14.918 -0.0866679 17.463 0.0425218 17.9694C0.375833 19.2759 1.7267 20.6232 3.02977 20.9573C3.53765 21.0875 6.01938 20.8655 8.00852 20.9573C9.16366 21.0106 11.8321 21.0106 12.9873 20.9573C15.0111 20.8639 17.4504 21.0895 17.966 20.9573C19.2711 20.6227 20.6198 19.2768 20.9533 17.9694C21.0814 17.4671 20.8993 14.5324 20.9533 12.9897C20.9344 13.0013 20.968 12.5673 20.9533 12.9897C20.9722 12.978 20.9536 11.1862 20.9533 10.0018C20.9529 8.81746 20.9718 7.98065 20.9533 8.00991C20.9344 8.03966 20.9683 8.44021 20.9533 8.00991C20.8994 6.4667 21.0814 3.53254 20.9533 3.03015C20.6198 1.72278 19.2711 0.376919 17.966 0.042293C17.4571 -0.0881961 14.9721 0.133469 12.9873 0.042293C11.9563 -0.00507304 9.09329 -0.00642167 8.00852 0.042293ZM8.00852 4.0261C7.38789 4.09635 6.48809 3.77137 6.01702 4.0261C4.86189 4.65068 4.15496 6.67042 4.02552 8.00991C3.99617 8.31335 4.01431 9.12536 4.02552 10.9978C4.04366 14.0358 3.80897 13.3603 4.02552 13.9856C4.39614 15.0559 5.93481 16.5981 7.01277 16.9735C7.61543 17.1833 6.98201 16.955 10 16.9735C13.0748 16.9923 13.4193 17.1501 13.983 16.9735C15.1479 16.6084 16.5813 15.1086 16.9703 13.9856C17.1847 13.3665 16.9517 14.032 16.9703 10.9978C16.9817 9.11829 16.9998 8.3145 16.9703 8.00991C16.7885 6.13334 15.8354 4.23318 13.983 4.0261C13.6275 3.98634 8.34135 3.98838 8.00852 4.0261ZM7.01277 5.02205C6.07648 5.27016 5.22865 6.07518 5.02127 7.01396C4.96616 7.26333 5.01112 8.35986 5.02127 10.9978C5.03293 14.0223 4.93122 13.7217 5.02127 13.9856C5.2938 14.7844 6.22707 15.728 7.01277 15.9775C7.29716 16.0678 6.89216 15.9775 10 15.9775C13.1079 15.9775 13.6986 16.0678 13.983 15.9775C14.7806 15.7242 15.7218 14.7852 15.9745 13.9856C16.0646 13.7005 15.9745 13.1174 15.9745 10.0018C15.9745 6.88625 16.0646 7.29905 15.9745 7.01396C15.7256 6.22631 14.7798 5.29529 13.983 5.02205C13.7193 4.93157 14.0592 5.03059 10.9958 5.02205C8.09382 5.01392 7.28714 4.94935 7.01277 5.02205ZM13.983 6.018C13.8131 6.06047 13.0895 6.83908 12.9873 7.01396C12.9363 7.10113 12.9883 6.8634 12.9873 7.01396C12.9814 7.90917 14.6352 7.83842 14.9788 7.01396C15.2306 6.40968 14.6202 5.85866 13.983 6.018ZM10 7.01396C8.95252 7.24408 7.42945 8.00243 7.01277 9.00586C6.83988 9.42218 7.01245 10.5071 7.01277 10.9978C7.01404 12.8537 8.1426 13.9856 10 13.9856C11.8609 13.9856 13.983 11.8673 13.983 10.0018C13.983 8.12226 11.8725 6.99802 10 7.01396C10.1401 6.98322 9.75339 7.01608 10 7.01396ZM0.0425218 10.0018C0.0425218 11.1931 0.0361622 12.5966 0.0425218 11.9937C0.0488815 11.3908 0.0488815 9.59428 0.0425218 9.00586C0.0361622 8.4174 0.042481 8.81051 0.0425218 10.0018ZM10 8.00991C9.10454 8.2272 8.00852 9.07088 8.00852 10.0018C8.00852 10.9607 9.05867 12.7943 10 12.9897C11.4401 13.2885 13.284 11.4467 12.9873 10.0018C12.913 9.64038 12.2693 9.28433 11.9915 9.00586C11.4776 8.49064 10.7106 7.83753 10 8.00991Z" fill="currentColor"/>
                            </svg>
                        </a>
                        <a href="#">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00573 0.042293C6.2554 0.120923 3.51131 -0.0814938 3.02872 0.042293C1.7261 0.376388 0.375701 1.72364 0.042507 3.03015C-0.0852928 3.53119 0.131389 6.06235 0.042507 8.00991C-0.0101048 9.163 -0.0101048 11.801 0.042507 12.9897C0.127843 14.918 -0.0866377 17.463 0.042507 17.9694C0.375701 19.2759 1.7261 20.6232 3.02872 20.9573C3.53641 21.0875 6.01728 20.8655 8.00573 20.9573C9.16046 21.0106 11.828 21.0106 12.9827 20.9573C15.0059 20.8639 17.4443 21.0895 17.9598 20.9573C19.3379 20.6038 20.6686 19.3673 20.946 17.9694C21.0677 17.3557 20.9456 13.9124 20.946 12.9897C20.9236 13.0036 20.9461 12.7831 20.946 12.9897C20.9723 12.9733 20.9464 11.394 20.946 10.0018C20.9456 8.81746 20.9645 7.98065 20.946 8.00991C20.9271 8.03966 20.961 8.44021 20.946 8.00991C20.8921 6.4667 21.0741 3.53254 20.946 3.03015C20.6126 1.72278 19.2644 0.376919 17.9598 0.042293C17.451 -0.0881961 14.9669 0.133469 12.9827 0.042293C11.9522 -0.00507304 9.09012 -0.00642167 8.00573 0.042293ZM9.00113 6.018C7.9405 6.0442 6.67015 5.93124 6.01493 6.018C5.19893 6.12602 4.30491 6.43841 4.02412 7.01396C3.75079 7.57421 3.94608 9.48643 4.02412 10.9978C4.08908 12.2555 3.85072 13.6594 4.02412 13.9856C4.27186 14.4517 5.39108 14.8291 6.01493 14.9816C6.29017 15.0489 6.88075 14.9141 8.00573 14.9816C10.0382 15.1034 14.0738 15.2024 14.9736 14.9816C15.6 14.8278 16.7149 14.4549 16.9644 13.9856C17.0853 13.7581 16.8733 12.9162 16.9644 11.9937C17.1173 10.4442 17.2759 7.63041 16.9644 7.01396C16.8035 6.69564 16.3683 6.21429 15.969 6.018C15.5252 5.79985 14.8099 6.09169 13.9782 6.018C12.3973 5.87795 10.7755 5.97423 9.00113 6.018ZM9.00113 10.0018C9.00113 12.1223 8.95276 13.0009 9.00113 12.9897C9.07368 12.9729 12.983 10.0293 12.9827 10.0018C12.9825 9.97284 9.07421 8.02589 9.00113 8.00991C8.94844 7.99834 9.00113 7.81746 9.00113 10.0018ZM0.042507 10.0018C0.042507 11.1931 0.0361496 12.5966 0.042507 11.9937C0.0488644 11.3908 0.0488644 9.59428 0.042507 9.00586C0.0361496 8.4174 0.0424662 8.81051 0.042507 10.0018Z" fill="currentColor"/>
                            </svg>
                        </a>
                    </div>
                    <div class="header-menu__contacts-group">
                        <p class="header-menu__contacts-address"><b>Красный проспект 153в</b></b><br>
                            пн-пт 9.00-20.00, сб 10.00-18.00 вс - выходной</p>
                        <div class="header-menu__contacts-item">
                            <p class="contacts-item__title">whatsapp</p>
                            <a href="tel:+79537695011" class="contacts-item__link">+7 (953) 769 5011</a>
                        </div>
                    </div>
                    <div class="header-menu__contacts-item">
                        <p class="contacts-item__title">офис</p>
                        <a href="tel:+79391116305" class="contacts-item__link">+7 (939) 111 63 05</a>
                        <p class="contacts-item__subtitle">
                            Email:
                            <a href="mailto:atmo-design@mail.ru">atmo-design@mail.ru</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="header-menu">
                <div class="header-menu__navigation">
                    <button class="navigation__hidden-menu">
                        <svg width="26" height="16" viewBox="0 0 26 16" fill="none">
                            <path d="M1 1H25" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                            <path d="M1 8H25" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                            <path d="M1 15H25" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                        Продукция
                    </button>

                    <ul class="navigation-list">
                        <li><a href="#">Флаги</a></li>
                        <li><a href="#">Прайс</a></li>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Конструктор</a></li>
                        <li><a href="#">Портфолио</a></li>
                        <li class="navigation-list_dropdown-item"><a href="#">Для клиентов</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>

                    {% include '../UI/button.twig' with {
                        href: '#',
                        colorClass: 'primary',
                        class: 'btn-yellow',
                        text: 'Акции    ',
                        svg: '<svg width="16" height="21" viewBox="0 0 16 21" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.906622 20.2994C0.470527 19.9605 0.379526 19.3231 0.703368 18.8757L13.7174 0.897296C14.0412 0.449919 14.6573 0.361966 15.0934 0.700845C15.5295 1.03972 15.6205 1.67711 15.2966 2.12448L2.28261 20.1029C1.95877 20.5503 1.34272 20.6383 0.906622 20.2994ZM4.84511 6.55926C5.3078 6.55926 5.80285 6.15011 5.80285 5.49475C5.80285 4.8394 5.3078 4.43025 4.84511 4.43025C4.38243 4.43025 3.88738 4.8394 3.88738 5.49475C3.88738 6.15011 4.38243 6.55926 4.84511 6.55926ZM4.84511 8.55926C6.47862 8.55926 7.80285 7.18723 7.80285 5.49475C7.80285 3.80227 6.47862 2.43025 4.84511 2.43025C3.2116 2.43025 1.88738 3.80227 1.88738 5.49475C1.88738 7.18723 3.2116 8.55926 4.84511 8.55926ZM11.7183 15.7098C11.7183 16.3651 11.2233 16.7743 10.7606 16.7743C10.2979 16.7743 9.80285 16.3651 9.80285 15.7098C9.80285 15.0544 10.2979 14.6453 10.7606 14.6453C11.2233 14.6453 11.7183 15.0544 11.7183 15.7098ZM13.7183 15.7098C13.7183 17.4023 12.3941 18.7743 10.7606 18.7743C9.12707 18.7743 7.80285 17.4023 7.80285 15.7098C7.80285 14.0173 9.12707 12.6453 10.7606 12.6453C12.3941 12.6453 13.7183 14.0173 13.7183 15.7098Z" fill="currentColor"/>
                        </svg>',
                    } %}
                </div>

                <div class="header-menu__search">
                    <div class="input__wrapper">
                        <input type="text" placeholder="поиск">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none">
                            <path d="M6.97999 0.139893C3.40858 0.139893 0.519989 3.02849 0.519989 6.59989C0.519989 10.1713 3.40858 13.0599 6.97999 13.0599C8.25507 13.0599 9.43515 12.6858 10.4356 12.0505L15.1025 16.7174L16.7175 15.1024L12.11 10.5068C12.9383 9.42021 13.44 8.07388 13.44 6.59989C13.44 3.02849 10.5514 0.139893 6.97999 0.139893ZM6.97999 1.65989C9.71569 1.65989 11.92 3.86419 11.92 6.59989C11.92 9.3356 9.71569 11.5399 6.97999 11.5399C4.24429 11.5399 2.03999 9.3356 2.03999 6.59989C2.03999 3.86419 4.24429 1.65989 6.97999 1.65989Z" fill="#34495E"/>
                        </svg>
                    </div>
                    <div class="header-menu__search-sn list-sn">
                        <a href="#">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00609 0.041634C6.16284 0.131178 3.49678 -0.0786021 3.02924 0.041634C1.71986 0.378434 0.375412 1.72644 0.0431274 3.02958C-0.0897624 3.55062 0.135551 5.99565 0.0431274 8.0095C-0.00993076 9.16523 -0.00980851 11.8291 0.0431274 12.9894C0.132006 14.937 -0.0846685 17.4683 0.0431274 17.9693C0.376308 19.2759 1.72667 20.6232 3.02924 20.9573C3.53692 21.0875 6.01772 20.8655 8.00609 20.9573C9.16077 21.0106 11.8283 21.0106 12.9829 20.9573C15.006 20.8639 17.4443 21.0895 17.9598 20.9573C19.3379 20.6038 20.6686 19.3672 20.9459 17.9693C21.0678 17.3547 20.9455 13.9143 20.9459 12.9894C20.9217 12.9894 20.946 12.7648 20.9459 12.9894C20.9726 12.9894 20.9463 11.4255 20.9459 10.0015C20.9455 8.8045 20.9644 7.98024 20.9459 8.0095C20.9271 8.03925 20.9609 8.43981 20.9459 8.0095C20.892 6.46625 21.074 3.53198 20.9459 3.02958C20.6107 1.71504 19.2715 0.378066 17.9598 0.041634C17.4494 -0.0892689 15.033 0.13927 12.9829 0.041634C11.9913 -0.00561039 8.99341 -0.00634603 8.00609 0.041634ZM9.00146 7.01352C8.65878 7.04895 8.1347 6.84955 8.00609 7.01352C7.79345 6.94359 7.88551 7.16726 8.00609 7.01352C8.50439 7.17736 8.98202 7.89455 9.00146 9.00548C9.02954 10.6108 8.57738 10.6203 8.00609 10.0015C7.65412 9.6202 7.38746 8.79103 7.01072 8.0095C6.8211 7.61614 7.05069 7.09219 7.01072 7.01352C6.96495 6.92348 6.12737 7.07139 6.01535 7.01352C5.84391 6.92491 6.06561 7.01352 5.01998 7.01352C4.02027 7.01352 4.08671 6.94465 4.02461 7.01352C3.89522 7.15688 3.68161 7.26994 4.02461 8.0095C4.78335 9.64544 5.20139 10.949 6.01535 11.9934C6.80103 13.0015 7.92746 13.7094 9.00146 13.9854C9.67622 14.1588 10.8062 14.1543 10.9922 13.9854C11.1189 13.8705 11.9202 13.4068 11.9876 12.9894C11.8882 13.0891 12.0676 12.4936 11.9876 12.9894C11.8315 12.9085 12.0808 12.8959 11.9876 12.9894C12.0485 13.021 12.6245 12.6176 12.9829 12.9894C13.8553 13.8941 13.795 13.9373 14.9737 13.9854C15.9256 14.0243 16.7896 14.1002 16.9644 13.9854C17.02 14.1714 17.1236 13.8808 16.9644 13.9854C16.8799 13.7026 16.7365 12.7815 15.969 11.9934C15.2132 11.2173 14.948 11.2314 14.9737 10.9974C14.9905 10.8445 15.3328 10.8687 15.969 10.0015C16.826 8.83339 16.8257 8.41333 16.9644 8.0095C17.068 7.70821 17.0118 7.11283 16.9644 7.01352C16.932 6.94567 17.0505 7.04306 16.9644 7.01352C16.777 6.94923 14.1585 6.9505 13.9783 7.01352C13.8259 7.06681 14.1369 7.60903 13.9783 8.0095C13.6097 8.94 12.5259 9.48121 11.9876 10.0015C11.7704 10.2113 12.104 10.235 11.9876 10.0015C11.9112 9.84829 10.9928 10.2309 10.9922 9.00548C10.9919 8.28619 10.9975 7.07453 10.9922 7.01352C10.9766 6.83259 11.214 7.06289 10.9922 7.01352C10.7418 6.95777 9.39776 6.97257 9.00146 7.01352ZM0.0431274 10.0015C0.0431274 11.204 0.0367702 12.5947 0.0431274 11.9934C0.0494846 11.3922 0.0494846 9.60679 0.0431274 9.00548C0.0367702 8.40418 0.0431274 8.7989 0.0431274 10.0015Z" fill="currentColor"/>
                            </svg>
                        </a>
                        <a href="#">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00852 0.042293C6.25758 0.120923 3.51254 -0.0814938 3.02977 0.042293C1.7267 0.376388 0.375833 1.72364 0.0425218 3.03015C-0.0853226 3.53119 0.131435 6.06235 0.0425218 8.00991C-0.0101083 9.163 -0.0101083 11.801 0.0425218 12.9897C0.127888 14.918 -0.0866679 17.463 0.0425218 17.9694C0.375833 19.2759 1.7267 20.6232 3.02977 20.9573C3.53765 21.0875 6.01938 20.8655 8.00852 20.9573C9.16366 21.0106 11.8321 21.0106 12.9873 20.9573C15.0111 20.8639 17.4504 21.0895 17.966 20.9573C19.2711 20.6227 20.6198 19.2768 20.9533 17.9694C21.0814 17.4671 20.8993 14.5324 20.9533 12.9897C20.9344 13.0013 20.968 12.5673 20.9533 12.9897C20.9722 12.978 20.9536 11.1862 20.9533 10.0018C20.9529 8.81746 20.9718 7.98065 20.9533 8.00991C20.9344 8.03966 20.9683 8.44021 20.9533 8.00991C20.8994 6.4667 21.0814 3.53254 20.9533 3.03015C20.6198 1.72278 19.2711 0.376919 17.966 0.042293C17.4571 -0.0881961 14.9721 0.133469 12.9873 0.042293C11.9563 -0.00507304 9.09329 -0.00642167 8.00852 0.042293ZM8.00852 4.0261C7.38789 4.09635 6.48809 3.77137 6.01702 4.0261C4.86189 4.65068 4.15496 6.67042 4.02552 8.00991C3.99617 8.31335 4.01431 9.12536 4.02552 10.9978C4.04366 14.0358 3.80897 13.3603 4.02552 13.9856C4.39614 15.0559 5.93481 16.5981 7.01277 16.9735C7.61543 17.1833 6.98201 16.955 10 16.9735C13.0748 16.9923 13.4193 17.1501 13.983 16.9735C15.1479 16.6084 16.5813 15.1086 16.9703 13.9856C17.1847 13.3665 16.9517 14.032 16.9703 10.9978C16.9817 9.11829 16.9998 8.3145 16.9703 8.00991C16.7885 6.13334 15.8354 4.23318 13.983 4.0261C13.6275 3.98634 8.34135 3.98838 8.00852 4.0261ZM7.01277 5.02205C6.07648 5.27016 5.22865 6.07518 5.02127 7.01396C4.96616 7.26333 5.01112 8.35986 5.02127 10.9978C5.03293 14.0223 4.93122 13.7217 5.02127 13.9856C5.2938 14.7844 6.22707 15.728 7.01277 15.9775C7.29716 16.0678 6.89216 15.9775 10 15.9775C13.1079 15.9775 13.6986 16.0678 13.983 15.9775C14.7806 15.7242 15.7218 14.7852 15.9745 13.9856C16.0646 13.7005 15.9745 13.1174 15.9745 10.0018C15.9745 6.88625 16.0646 7.29905 15.9745 7.01396C15.7256 6.22631 14.7798 5.29529 13.983 5.02205C13.7193 4.93157 14.0592 5.03059 10.9958 5.02205C8.09382 5.01392 7.28714 4.94935 7.01277 5.02205ZM13.983 6.018C13.8131 6.06047 13.0895 6.83908 12.9873 7.01396C12.9363 7.10113 12.9883 6.8634 12.9873 7.01396C12.9814 7.90917 14.6352 7.83842 14.9788 7.01396C15.2306 6.40968 14.6202 5.85866 13.983 6.018ZM10 7.01396C8.95252 7.24408 7.42945 8.00243 7.01277 9.00586C6.83988 9.42218 7.01245 10.5071 7.01277 10.9978C7.01404 12.8537 8.1426 13.9856 10 13.9856C11.8609 13.9856 13.983 11.8673 13.983 10.0018C13.983 8.12226 11.8725 6.99802 10 7.01396C10.1401 6.98322 9.75339 7.01608 10 7.01396ZM0.0425218 10.0018C0.0425218 11.1931 0.0361622 12.5966 0.0425218 11.9937C0.0488815 11.3908 0.0488815 9.59428 0.0425218 9.00586C0.0361622 8.4174 0.042481 8.81051 0.0425218 10.0018ZM10 8.00991C9.10454 8.2272 8.00852 9.07088 8.00852 10.0018C8.00852 10.9607 9.05867 12.7943 10 12.9897C11.4401 13.2885 13.284 11.4467 12.9873 10.0018C12.913 9.64038 12.2693 9.28433 11.9915 9.00586C11.4776 8.49064 10.7106 7.83753 10 8.00991Z" fill="currentColor"/>
                            </svg>
                        </a>
                        <a href="#">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00573 0.042293C6.2554 0.120923 3.51131 -0.0814938 3.02872 0.042293C1.7261 0.376388 0.375701 1.72364 0.042507 3.03015C-0.0852928 3.53119 0.131389 6.06235 0.042507 8.00991C-0.0101048 9.163 -0.0101048 11.801 0.042507 12.9897C0.127843 14.918 -0.0866377 17.463 0.042507 17.9694C0.375701 19.2759 1.7261 20.6232 3.02872 20.9573C3.53641 21.0875 6.01728 20.8655 8.00573 20.9573C9.16046 21.0106 11.828 21.0106 12.9827 20.9573C15.0059 20.8639 17.4443 21.0895 17.9598 20.9573C19.3379 20.6038 20.6686 19.3673 20.946 17.9694C21.0677 17.3557 20.9456 13.9124 20.946 12.9897C20.9236 13.0036 20.9461 12.7831 20.946 12.9897C20.9723 12.9733 20.9464 11.394 20.946 10.0018C20.9456 8.81746 20.9645 7.98065 20.946 8.00991C20.9271 8.03966 20.961 8.44021 20.946 8.00991C20.8921 6.4667 21.0741 3.53254 20.946 3.03015C20.6126 1.72278 19.2644 0.376919 17.9598 0.042293C17.451 -0.0881961 14.9669 0.133469 12.9827 0.042293C11.9522 -0.00507304 9.09012 -0.00642167 8.00573 0.042293ZM9.00113 6.018C7.9405 6.0442 6.67015 5.93124 6.01493 6.018C5.19893 6.12602 4.30491 6.43841 4.02412 7.01396C3.75079 7.57421 3.94608 9.48643 4.02412 10.9978C4.08908 12.2555 3.85072 13.6594 4.02412 13.9856C4.27186 14.4517 5.39108 14.8291 6.01493 14.9816C6.29017 15.0489 6.88075 14.9141 8.00573 14.9816C10.0382 15.1034 14.0738 15.2024 14.9736 14.9816C15.6 14.8278 16.7149 14.4549 16.9644 13.9856C17.0853 13.7581 16.8733 12.9162 16.9644 11.9937C17.1173 10.4442 17.2759 7.63041 16.9644 7.01396C16.8035 6.69564 16.3683 6.21429 15.969 6.018C15.5252 5.79985 14.8099 6.09169 13.9782 6.018C12.3973 5.87795 10.7755 5.97423 9.00113 6.018ZM9.00113 10.0018C9.00113 12.1223 8.95276 13.0009 9.00113 12.9897C9.07368 12.9729 12.983 10.0293 12.9827 10.0018C12.9825 9.97284 9.07421 8.02589 9.00113 8.00991C8.94844 7.99834 9.00113 7.81746 9.00113 10.0018ZM0.042507 10.0018C0.042507 11.1931 0.0361496 12.5966 0.042507 11.9937C0.0488644 11.3908 0.0488644 9.59428 0.042507 9.00586C0.0361496 8.4174 0.0424662 8.81051 0.042507 10.0018Z" fill="currentColor"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="header-menu__icons-list">
                <a href="#">
                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1973 0.0475611C7.99012 0.316643 5.94492 1.17542 4.24516 2.54683C3.66203 3.01735 2.71674 3.99018 2.2876 4.56145C1.05674 6.19997 0.298016 8.07622 0.0667136 10.0535C-0.00974339 10.7073 -0.0202102 11.9629 0.0458698 12.5557C0.187419 13.826 0.594589 15.209 1.15674 16.3292L1.3822 16.7784L0.699526 19.8781C0.324026 21.5828 0.0324832 22.9841 0.0516198 22.992C0.0707565 22.9999 1.46935 22.6916 3.15958 22.3069C4.84986 21.9223 6.26638 21.6075 6.30739 21.6075C6.34841 21.6075 6.4807 21.6575 6.60141 21.7187C6.98459 21.9129 7.73119 22.1947 8.28445 22.3541C11.8585 23.3833 15.6313 22.6527 18.5977 20.357C19.1226 19.9508 20.0162 19.0709 20.4528 18.5304C21.2029 17.6019 21.91 16.3695 22.2989 15.3133C22.6238 14.4308 22.9429 12.9488 22.9602 12.2413C22.9651 12.0451 22.9701 12.0337 23 12.1514C23.0189 12.2256 23.0337 11.8617 23.0329 11.3429C23.0321 10.8155 23.0176 10.4887 23 10.6016L22.9686 10.8038L22.9619 10.5625C22.9582 10.4298 22.9235 10.1063 22.8848 9.84372C22.6342 8.14253 22.0683 6.6482 21.139 5.23348C19.3156 2.45744 16.5126 0.641608 13.2295 0.109463C12.7015 0.0238872 10.7229 -0.0164976 10.1973 0.0475611ZM10.7813 1.84165C8.19218 2.02781 5.73163 3.28099 4.07765 5.25594C1.44743 8.39661 1.08824 12.676 3.15832 16.2081L3.32126 16.4861L2.87428 18.5159C2.62843 19.6323 2.43639 20.5549 2.44757 20.5661C2.45876 20.5773 3.37314 20.3812 4.47957 20.1303C5.58599 19.8794 6.51457 19.6746 6.5431 19.6751C6.57162 19.6755 6.88176 19.8159 7.23229 19.9871C9.66912 21.1772 12.4901 21.2983 15.004 20.3209C18.21 19.0744 20.4879 16.2662 21.0523 12.8647C21.1658 12.1806 21.1674 10.6356 21.0553 9.96878C20.8166 8.54939 20.3484 7.35932 19.5634 6.17684C17.6056 3.22785 14.287 1.58959 10.7813 1.84165ZM7.63245 6.39287C7.37838 6.46492 7.23296 6.57682 6.93028 6.93323C6.45608 7.49152 6.24396 8.07312 6.23943 8.82723C6.23417 9.70963 6.51022 10.4575 7.226 11.5001C8.63363 13.5504 10.0614 14.8342 11.6952 15.5187C12.323 15.7817 13.3278 16.1051 13.7848 16.1911C14.7086 16.365 15.4543 16.1963 16.1522 15.6555C16.5243 15.3672 16.6951 15.1344 16.8048 14.7661C16.9221 14.3722 16.967 13.8438 16.8946 13.7087C16.8598 13.6435 16.4853 13.4363 15.7865 13.0954C14.6254 12.5291 14.3772 12.4299 14.2198 12.4694C14.159 12.4847 13.9989 12.6446 13.8425 12.8465C13.693 13.0393 13.4448 13.343 13.2908 13.5215C13.016 13.8399 13.0076 13.8455 12.8274 13.8251C12.5684 13.7959 11.602 13.3063 11.0958 12.9478C10.3699 12.4338 9.60731 11.5999 9.10841 10.7749C9.01551 10.6212 8.9395 10.4589 8.9395 10.4141C8.9395 10.3694 9.09327 10.1659 9.28122 9.96182C9.64298 9.56916 9.83794 9.24752 9.83794 9.04335C9.83794 8.92076 9.17754 7.26287 8.93604 6.77915C8.86704 6.64097 8.75577 6.49201 8.6887 6.44807C8.52941 6.34368 7.91852 6.31178 7.63245 6.39287ZM0.0190515 11.3878C0.0190965 11.9066 0.025655 12.1127 0.0336062 11.8458C0.0415574 11.5788 0.0415125 11.1543 0.0335164 10.9024C0.0255203 10.6505 0.0190066 10.8689 0.0190515 11.3878Z" fill="currentColor"/>
                    </svg>
                </a>
                <a href="#">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.56323 0.147217C4.67944 0.147217 4.79565 0.147217 4.91187 0.147217C5.06689 0.202569 5.20247 0.292955 5.3186 0.418376C6.0837 1.62581 6.85844 2.82666 7.64282 4.02092C7.74071 4.16506 7.81818 4.32 7.87524 4.48576C7.91526 4.69471 7.87652 4.88839 7.75903 5.06681C7.20382 5.62203 6.64856 6.17729 6.09334 6.7325C6.04395 6.81838 6.00522 6.9088 5.97713 7.00366C6.00173 7.60579 6.13084 8.18684 6.3645 8.74683C7.15822 10.5735 8.39134 12.0262 10.0639 13.1047C10.9562 13.6626 11.9246 14.0177 12.9692 14.17C13.1379 14.1568 13.2928 14.1052 13.434 14.0151C13.5787 13.9289 13.7078 13.8191 13.8214 13.6858C13.8125 13.6703 13.7996 13.6639 13.7826 13.6664C13.9505 13.4727 14.1313 13.292 14.325 13.1241C14.5315 12.995 14.6994 12.8271 14.8285 12.6205C15.1162 12.2212 15.4778 12.1373 15.9132 12.3687C17.1786 13.1822 18.444 13.9957 19.7094 14.8092C19.8348 14.9253 19.9252 15.0609 19.9806 15.2159C19.9806 15.3192 19.9806 15.4225 19.9806 15.5258C19.3386 16.8884 18.6994 18.2571 18.0631 19.6319C17.966 19.7989 17.8305 19.9151 17.6563 19.9806C17.4626 19.9806 17.269 19.9806 17.0753 19.9806C13.2849 19.4086 9.95356 17.8656 7.08114 15.3515C4.7384 13.3319 2.9113 10.9238 1.59985 8.12704C0.882538 6.51147 0.398325 4.83288 0.147217 3.09123C0.147217 2.87172 0.147217 2.65221 0.147217 2.4327C0.228236 2.28056 0.344447 2.15789 0.49585 2.0647C1.85517 1.42367 3.21096 0.784514 4.56323 0.147217Z" fill="currentColor"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.45993 0C8.82146 0 9.18303 0 9.54456 0C13.4285 0.485773 16.1982 2.5001 17.8536 6.04297C18.2462 7.00663 18.498 8.00085 18.609 9.02572C18.609 9.40019 18.609 9.77462 18.609 10.1491C18.4327 10.5213 18.1358 10.6698 17.7181 10.5946C17.4625 10.5069 17.3011 10.3326 17.2339 10.0716C17.1502 6.68073 15.6588 4.13056 12.7597 2.42106C11.4534 1.72332 10.0589 1.37468 8.57614 1.37516C8.1312 1.25406 7.94399 0.963536 8.01445 0.503581C8.07709 0.254031 8.22557 0.0861708 8.45993 0Z" fill="currentColor"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.80621 3.5C11.6781 3.54022 13.7376 4.84437 14.9848 7.41244C15.3955 8.34247 15.5505 9.3109 15.4496 10.3177C15.1948 10.7122 14.8526 10.809 14.4231 10.6082C14.28 10.5042 14.1831 10.3686 14.1325 10.2015C14.0758 7.87449 12.9976 6.22817 10.898 5.26253C10.2244 5.00822 9.52711 4.87908 8.80621 4.87516C8.35183 4.68787 8.20335 4.35861 8.36074 3.88737C8.4699 3.70681 8.61838 3.57769 8.80621 3.5Z" fill="currentColor"/>
                    </svg>
                </a>
                <a class="btn-bg-grey" href="#">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none">
                        <path d="M6.92997 0.139893C3.35856 0.139893 0.469971 3.02849 0.469971 6.59989C0.469971 10.1713 3.35856 13.0599 6.92997 13.0599C8.20505 13.0599 9.38513 12.6858 10.3856 12.0505L15.0525 16.7174L16.6675 15.1024L12.06 10.5068C12.8883 9.42021 13.39 8.07388 13.39 6.59989C13.39 3.02849 10.5014 0.139893 6.92997 0.139893ZM6.92997 1.65989C9.66567 1.65989 11.87 3.86419 11.87 6.59989C11.87 9.3356 9.66567 11.5399 6.92997 11.5399C4.19427 11.5399 1.98997 9.3356 1.98997 6.59989C1.98997 3.86419 4.19427 1.65989 6.92997 1.65989Z" fill="currentColor"/>
                    </svg>
                </a>
                <button class="btn-bg-grey btn-burger">
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</header>
