<footer class="website-footer">
    <div class="container">
        <div class="footer-main">
            <div class="footer-links__wrapper">
                <ul class="footer-links__item">
                    <li><a href="#">Компания</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Действующие акции</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">Политика конфиденциальности</a></li>
                    <li><a href="#">Отзывы Flamp</a></li>
                </ul>
                <ul class="footer-links__item">
                    <li><a href="#">Скачать</a></li>
                    <li><a href="#">Прайс-лист</a></li>
                    <li><a href="#">Каталог дизайнерских бумаг</a></li>
                    <li><a href="#">Каталог форм для вырубки</a></li>
                    <li><a href="#">Технические требования к макетам</a></li>
                    <li><a href="#">Бриф на разработку макета</a></li>
                </ul>
                <ul class="footer-links__item">
                    <li><a href="#">Информация</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Оплата</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Личный кабинет</a></li>
                    <li><a href="#">Правила онлайн-оплаты</a></li>
                </ul>
            </div>
            <div class="footer-contacts__wrapper">
                <div class="footer-contacts__item">
                    <a href="tel:89537695011">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.56323 0.147217C4.67944 0.147217 4.79565 0.147217 4.91187 0.147217C5.06689 0.202569 5.20247 0.292955 5.3186 0.418376C6.0837 1.62581 6.85844 2.82666 7.64282 4.02092C7.74071 4.16506 7.81818 4.32 7.87524 4.48576C7.91526 4.69471 7.87652 4.88839 7.75903 5.06681C7.20382 5.62203 6.64856 6.17729 6.09334 6.7325C6.04395 6.81838 6.00522 6.9088 5.97713 7.00366C6.00173 7.60579 6.13084 8.18684 6.3645 8.74683C7.15822 10.5735 8.39134 12.0262 10.0639 13.1047C10.9562 13.6626 11.9246 14.0177 12.9692 14.17C13.1379 14.1568 13.2928 14.1052 13.434 14.0151C13.5787 13.9289 13.7078 13.8191 13.8214 13.6858C13.8125 13.6703 13.7996 13.6639 13.7826 13.6664C13.9505 13.4727 14.1313 13.292 14.325 13.1241C14.5315 12.995 14.6994 12.8271 14.8285 12.6205C15.1162 12.2212 15.4778 12.1373 15.9132 12.3687C17.1786 13.1822 18.444 13.9957 19.7094 14.8092C19.8348 14.9253 19.9252 15.0609 19.9806 15.2159C19.9806 15.3192 19.9806 15.4225 19.9806 15.5258C19.3386 16.8884 18.6994 18.2571 18.0631 19.6319C17.966 19.7989 17.8305 19.9151 17.6563 19.9806C17.4626 19.9806 17.269 19.9806 17.0753 19.9806C13.2849 19.4086 9.95356 17.8656 7.08114 15.3515C4.7384 13.3319 2.9113 10.9238 1.59985 8.12704C0.882538 6.51147 0.398325 4.83288 0.147217 3.09123C0.147217 2.87172 0.147217 2.65221 0.147217 2.4327C0.228236 2.28056 0.344447 2.15789 0.49585 2.0647C1.85517 1.42367 3.21096 0.784514 4.56323 0.147217Z" fill="currentColor"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.45993 0C8.82146 0 9.18303 0 9.54456 0C13.4285 0.485773 16.1982 2.5001 17.8536 6.04297C18.2462 7.00663 18.498 8.00085 18.609 9.02572C18.609 9.40019 18.609 9.77462 18.609 10.1491C18.4327 10.5213 18.1358 10.6698 17.7181 10.5946C17.4625 10.5069 17.3011 10.3326 17.2339 10.0716C17.1502 6.68073 15.6588 4.13056 12.7597 2.42106C11.4534 1.72332 10.0589 1.37468 8.57614 1.37516C8.1312 1.25406 7.94399 0.963536 8.01445 0.503581C8.07709 0.254031 8.22557 0.0861708 8.45993 0Z" fill="currentColor"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.80621 3.5C11.6781 3.54022 13.7376 4.84437 14.9848 7.41244C15.3955 8.34247 15.5505 9.3109 15.4496 10.3177C15.1948 10.7122 14.8526 10.809 14.4231 10.6082C14.28 10.5042 14.1831 10.3686 14.1325 10.2015C14.0758 7.87449 12.9976 6.22817 10.898 5.26253C10.2244 5.00822 9.52711 4.87908 8.80621 4.87516C8.35183 4.68787 8.20335 4.35861 8.36074 3.88737C8.4699 3.70681 8.61838 3.57769 8.80621 3.5Z" fill="currentColor"/>
                        </svg>
                        8 (953) 769 50 11
                    </a>
                    <p>г. Новосибирск</p>
                </div>
                <div class="footer-contacts__item">
                    <a href="tel:88007004934">8 800 700 49 34</a>
                    <p>бесплатно для РФ</p>
                </div>
                <div class="footer-contacts__item">
                    <a href="mailto:otk@atmos-fera.ru">otk@atmos-fera.ru</a>
                    <p>служба контроля качества</p>
                </div>
                <div class="footer-contacts__item list-sn">
                    <a href="#">
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_4_923)">
                                <mask id="mask0_4_923" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="21" height="21">
                                    <path d="M21 0H0V21H21V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_4_923)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.64941 0.0441981C5.7942 0.134063 3.66167 0.327124 3.1911 0.447792C1.87323 0.785802 0.786229 1.86849 0.451788 3.17632C0.318035 3.69922 0.135105 5.7514 0.0420821 7.77249C-0.0113205 8.93237 -0.0114435 12.063 0.041836 13.2276C0.131291 15.1822 0.319922 17.3082 0.448547 17.811C0.783891 19.1222 1.87761 20.2161 3.18864 20.5514C3.69961 20.6821 5.77119 20.8658 7.77246 20.9579C8.93464 21.0115 12.0654 21.0115 13.2275 20.9579C15.2637 20.8642 17.2906 20.6846 17.8094 20.5519C19.1965 20.1971 20.3128 19.0195 20.5919 17.6166C20.7146 16.9998 20.9584 13.9405 20.9588 13.0122C20.9589 12.7868 20.9756 12.6328 21 12.6328C21.0268 12.6328 21.0408 11.8779 21.0404 10.4488C21.04 9.24749 21.0245 8.28867 21.0059 8.31803C20.987 8.34789 20.9602 8.03211 20.9451 7.60026C20.8909 6.05147 20.6804 3.69324 20.5515 3.18903C20.2141 1.86976 19.1296 0.785802 17.8094 0.448161C17.2958 0.316788 15.3114 0.140134 13.248 0.0421474C12.25 -0.00526675 8.64314 -0.00395425 7.64941 0.0441981ZM8.89896 6.76551C8.55406 6.80107 8.37564 6.87633 8.24619 7.04089C8.12483 7.19519 8.15317 7.26385 8.36719 7.33403C8.86873 7.49846 8.91471 7.61133 8.93427 8.72626C8.96253 10.3373 8.75922 10.7056 8.18422 10.0845C7.82997 9.70186 7.40677 9.02851 7.02758 8.24417C6.83673 7.84939 6.64765 7.46179 6.60741 7.38284C6.56135 7.29248 6.46784 7.20508 6.35508 7.147C6.18253 7.05807 6.13602 7.05471 5.0836 7.05471C4.0774 7.05471 3.98586 7.06062 3.92335 7.12973C3.79313 7.27361 3.8405 7.46868 4.18573 8.2109C4.9494 9.85272 5.67632 11.088 6.49556 12.1362C7.28634 13.1479 8.22831 13.7964 9.30928 14.0735C9.98841 14.2475 11.1384 14.2536 11.3256 14.0841C11.4531 13.9688 11.4747 13.9096 11.5425 13.4907C11.623 12.9932 11.7147 12.6896 11.8148 12.5896C11.9086 12.4958 12.0991 12.4862 12.2561 12.5674C12.3174 12.5991 12.6628 12.9303 13.0236 13.3035C13.9016 14.2114 13.8664 14.1951 15.0527 14.2434C16.0108 14.2824 16.5413 14.2468 16.7172 14.1315C16.8774 14.0265 16.9582 13.8006 16.9023 13.614C16.8173 13.3302 16.3481 12.7421 15.5757 11.9513C14.8149 11.1723 14.7804 11.1247 14.8062 10.8899C14.8231 10.7364 14.963 10.5184 15.6034 9.64805C16.4659 8.47578 16.6863 8.12895 16.826 7.72368C16.9302 7.42131 16.9375 7.36942 16.8898 7.26976C16.8572 7.20167 16.7795 7.13793 16.6929 7.10828C16.5042 7.04376 14.2175 7.03556 14.0362 7.0988C13.8827 7.15229 13.8187 7.24539 13.6591 7.64731C13.2881 8.58115 12.6097 9.66326 12.0679 10.1854C11.8494 10.396 11.7041 10.3857 11.5869 10.1514C11.5101 9.99767 11.5048 9.90464 11.5043 8.67483C11.504 7.95295 11.4993 7.31221 11.494 7.25097C11.4783 7.0694 11.2658 6.86391 11.0426 6.81436C10.7906 6.75841 9.29783 6.72441 8.89896 6.76551ZM0.0191131 10.5C0.0191131 11.7069 0.0243221 12.2006 0.0307205 11.5972C0.037119 10.9938 0.037119 10.0063 0.0307205 9.40286C0.0243221 8.79939 0.0191131 9.29314 0.0191131 10.5Z" fill="currentColor"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_4_923">
                                    <rect width="21" height="21" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                    <a href="#">
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_4_931)">
                                <mask id="mask0_4_931" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="21" height="21">
                                    <path d="M21 0H0V21H21V0Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_4_931)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.64939 0.0453014C5.88777 0.124215 3.67432 0.324249 3.18861 0.448483C1.87759 0.783786 0.783863 1.87763 0.448519 3.18886C0.319895 3.69171 0.131264 5.81772 0.0418091 7.77232C-0.0111421 8.92957 -0.0111831 12.0139 0.0417681 13.2069C0.127655 15.1422 0.318542 17.3026 0.448519 17.8108C0.783863 19.1221 1.87759 20.2159 3.18861 20.5512C3.69958 20.6819 5.77116 20.8657 7.77243 20.9578C8.93461 21.0113 12.0653 21.0113 13.2275 20.9578C15.2637 20.8641 17.2906 20.6844 17.8094 20.5517C19.1224 20.2159 20.2159 19.1229 20.5514 17.8108C20.6804 17.3067 20.8908 14.9485 20.9451 13.4001C20.9599 12.9762 20.9875 12.6198 21.0065 12.6081C21.0255 12.5964 21.0407 11.6143 21.0404 10.4257C21.04 9.23702 21.0245 8.2885 21.0059 8.31786C20.9869 8.34772 20.9602 8.03194 20.9451 7.60009C20.8908 6.0513 20.6804 3.69306 20.5514 3.18886C20.2159 1.87677 19.1224 0.783827 17.8094 0.447991C17.2973 0.31703 15.2244 0.133239 13.2275 0.0417331C12.1903 -0.00580421 8.74077 -0.00358935 7.64939 0.0453014ZM7.56736 3.96356C6.94293 4.03407 6.47404 4.17332 6.00011 4.42897C4.83793 5.05581 4.10666 6.17111 3.97644 7.51543C3.94691 7.81998 3.93747 8.94881 3.94875 10.828C3.967 13.877 3.9638 13.827 4.18168 14.4545C4.55455 15.5287 5.47703 16.447 6.56157 16.8238C7.1679 17.0344 7.13542 17.0324 10.1718 17.051C13.2654 17.0699 13.717 17.0503 14.2842 16.873C15.4562 16.5067 16.4281 15.5782 16.8195 14.4511C17.0352 13.8297 17.0324 13.8731 17.0511 10.828C17.0626 8.94171 17.0533 7.82112 17.0236 7.51543C16.8407 5.63208 15.4287 4.18931 13.565 3.98149C13.2072 3.94158 7.90221 3.92571 7.56736 3.96356ZM7.19255 5.33049C6.25055 5.5795 5.51953 6.33619 5.31088 7.27836C5.25543 7.52864 5.24846 7.97547 5.25867 10.6229C5.2704 13.6583 5.2711 13.6803 5.3617 13.9452C5.63589 14.7468 6.28467 15.3879 7.07517 15.6384C7.36129 15.729 7.37315 15.7293 10.5 15.7293C13.6268 15.7293 13.6387 15.729 13.9248 15.6384C14.7272 15.3841 15.3842 14.7271 15.6385 13.9247C15.7291 13.6385 15.7295 13.6267 15.7295 10.4999C15.7295 7.37303 15.7291 7.36117 15.6385 7.07505C15.3881 6.28456 14.7469 5.63581 13.9453 5.36158C13.68 5.27077 13.6641 5.27032 10.582 5.26175C7.66235 5.25359 7.46859 5.25752 7.19255 5.33049ZM13.7062 6.31421C13.5352 6.35682 13.293 6.5498 13.1902 6.72531C13.1389 6.8128 13.1113 6.939 13.1103 7.0901C13.1044 7.98855 14.3154 8.24162 14.6611 7.41417C14.9145 6.80771 14.3472 6.15429 13.7062 6.31421ZM9.77215 7.20093C8.71825 7.43189 7.80541 8.199 7.38619 9.20606C7.21224 9.62388 7.13665 10.0203 7.13698 10.5128C7.13825 12.3755 8.63122 13.8626 10.5 13.8626C12.3722 13.8626 13.8627 12.3721 13.8627 10.4999C13.8627 8.6135 12.3634 7.12497 10.4795 7.14096C10.2313 7.14309 9.91304 7.17008 9.77215 7.20093ZM0.0190864 10.4793C0.0190864 11.675 0.0242954 12.1582 0.0306939 11.5531C0.0370923 10.9481 0.0370923 9.96985 0.0306939 9.37931C0.0242954 8.78872 0.0190454 9.28374 0.0190864 10.4793ZM9.99277 8.47311C9.09182 8.69119 8.40818 9.56556 8.40818 10.4999C8.40818 11.4622 9.13448 12.3506 10.0816 12.5467C11.5304 12.8466 12.8456 11.5316 12.547 10.0815C12.4723 9.71871 12.2431 9.30298 11.9636 9.0235C11.4465 8.50641 10.7077 8.3001 9.99277 8.47311Z" fill="currentColor"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_4_931">
                                    <rect width="21" height="21" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                    <a href="#">
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_4_929)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.64939 0.0453014C5.88777 0.124215 3.67432 0.324249 3.18861 0.448483C1.87759 0.783786 0.783863 1.87763 0.448519 3.18886C0.319895 3.69171 0.131264 5.81772 0.0418091 7.77232C-0.0111421 8.92957 -0.0111831 12.0139 0.0417681 13.2069C0.127655 15.1422 0.318542 17.3026 0.448519 17.8108C0.783863 19.1221 1.87759 20.2159 3.18861 20.5512C3.69958 20.6819 5.77116 20.8657 7.77243 20.9578C8.93461 21.0113 12.0653 21.0113 13.2275 20.9578C15.2637 20.8641 17.2906 20.6844 17.8094 20.5517C19.1965 20.197 20.3128 19.0194 20.5919 17.6165C20.7144 17.0005 20.9584 13.9405 20.9588 13.0145C20.9589 12.8071 20.9774 12.6261 21 12.6122C21.0265 12.5958 21.0408 11.8229 21.0404 10.4257C21.04 9.23702 21.0245 8.2885 21.0059 8.31786C20.9869 8.34772 20.9602 8.03194 20.9451 7.60009C20.8908 6.0513 20.6804 3.69306 20.5514 3.18886C20.2159 1.87677 19.1224 0.783827 17.8094 0.447991C17.2973 0.31703 15.2244 0.133239 13.2275 0.0417331C12.1903 -0.00580421 8.74077 -0.00358935 7.64939 0.0453014ZM9.29001 5.74877C8.22254 5.77506 6.88477 5.86283 6.22532 5.94991C5.40407 6.05831 4.65652 6.52294 4.37392 7.10056C4.09883 7.66284 3.9013 9.7521 3.97984 11.2689C4.04522 12.5312 4.20596 13.5964 4.38048 13.9238C4.62982 14.3916 5.25785 14.8361 5.88571 14.9891C6.16273 15.0566 7.15289 15.1516 8.28513 15.2193C10.3307 15.3416 14.2087 15.211 15.1142 14.9893C15.7448 14.835 16.3702 14.3915 16.6212 13.9206C16.743 13.6923 16.8928 12.8818 16.9844 11.9559C17.1383 10.4008 16.9404 7.70443 16.6268 7.08575C16.465 6.76628 16.1027 6.43443 15.7007 6.23743C15.2541 6.01849 15.008 5.96238 14.1709 5.88843C12.5798 5.74787 11.0758 5.70484 9.29001 5.74877ZM8.90036 10.4999C8.90036 12.628 8.90906 13.0058 8.95774 12.9945C9.03075 12.9777 13.039 10.5274 13.0387 10.4999C13.0384 10.4708 9.03457 8.0212 8.96103 8.00516C8.90799 7.99355 8.90036 8.30761 8.90036 10.4999ZM0.0190864 10.4793C0.0190864 11.675 0.0242954 12.1582 0.0306939 11.5531C0.0370923 10.9481 0.0370923 9.96985 0.0306939 9.37931C0.0242954 8.78872 0.0190454 9.28374 0.0190864 10.4793Z" fill="currentColor"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_4_929">
                                    <rect width="21" height="21" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="footer-copyright__item">
                <p>2023 © Атмосфера — типография в Новосибирске<br>
                Разработка сайта <a href="">dmitriyandreev.ru</a>, продвижение <a href="">brand monkey</a></p>
            </div>
            <div class="footer-copyright__item">
                <p>Сайт носит исключительно информационный характер и никакая информация, опубликованная на нём, ни при каких условиях не является публичной офертой, определяемой положениями пункта 2 статьи 437 Гражданского кодекса Российской Федерации. Все указанные характеристики могут быть изменены без предварительного уведомления.</p>
            </div>
        </div>
    </div>
</footer>
