.website-header {
  padding: 0;
  position: sticky;
  top: -0.1rem;
  background: white;
  z-index: 1000;
}

.header__wrapper {
  background: map-get($basic, primary);

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.header__links {
  display: flex;
  padding: 0;
  margin: 1.2rem 0;

  li {
    list-style-type: none;
    position: relative;

    + li {
      padding-left: 3rem;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 1.3rem;
        width: 0.5rem;
        height: 0.5rem;
        background: map-get($gray, color_d9);
        border-radius: 50%;
        transform: translateY(-50%);
      }
    }
  }

  a {
    text-decoration: none;
    color: $color-white;
    font-size: 1.3rem;
    transition: 0.3s;

    &:hover {
      color: map-get($basic, hover-primary);
    }
  }

  @include bp-tablet() {
    display: none;
  }
}

.header__controllers {
  display: flex;

  a {
    text-decoration: none;
    color: $color-white;
    font-size: 1.3rem;
    transition: 0.3s;
    display: flex;
    align-items: center;
    padding: 0.7rem 0;
    cursor: pointer;

    span {
      display: inline-block;
      margin-right: 0.7rem;
    }

    &:nth-child(2) {
      margin-left: 3rem;

      @include bp-tablet() {
        margin-left: auto;
      }

      @include bp-mobile() {
        display: none;
      }
    }

    &:last-child {
      margin-left: 6rem;

      span {
        height: 2.1rem;
        margin: 0 0 0 1.4rem;
      }

      @include bp-tablet() {
        margin-left: 4rem;
      }

      @include bp-mobile() {
        margin-left: auto;
      }
    }

    &:hover {
      color: map-get($basic, hover-primary);
    }
  }

  @include bp-tablet() {
    width: 100%;
  }
}

.header__city {
  position: relative;
  cursor: pointer;
  z-index: 110;

  &:hover .list-city {
    opacity: 1;
    visibility: visible;
  }
}

.list-city {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 2.6rem;
  background: white;
  width: 15rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  color: map-get($basic, main);
  box-shadow: 0 4px 20px 0 #52596666;

  li {
    list-style-type: none;
    padding: 0.5rem 1rem;
    cursor: pointer;

    + li {
      border-top: 1px solid map-get($gray, color_e8);
    }

    &:hover {
      color: map-get($basic, hover-primary);
    }
  }
}

.header-menu__wrapper {
  margin-bottom: 2.5rem;

  @include bp-desktopXS() {
    margin-bottom: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    position: relative;

    @include bp-desktopXS() {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 100;
    }
  }
}

.header-menu__info {
  display: flex;
  justify-content: space-between;
  margin: 2.2rem 0;

  @include bp-desktopXS() {
    margin: 1rem 0;
    width: 100%;
    align-items: center;
  }
}

.header-menu__logo {
  display: flex;

  .logo {
    width: 18rem;

    img {
      width: 100%;
    }

    @include bp-tablet() {
      width: 11rem;
    }
  }
}

.header-menu__logo-desc {
  margin: 1.5rem 0 0 2rem;

  @include bp-tablet() {
    display: none;
  }
}

.header-menu__contacts {
  display: flex;

  @include bp-desktopXS() {
    display: none;
  }
}

.list-sn {
  margin-left: 1rem;
  display: flex;

  a {
    text-decoration: none;
    color: map-get($gray, color_52);
    transition: 0.3s;

    + a {
      margin-left: 1rem;
    }

    &:hover {
      color: map-get($basic, hover-primary);
    }
  }
}

.header-menu__contacts-group {
  display: flex;
  margin-right: 3rem;

  @include bp-desktop() {
    flex-direction: column;
    margin-right: 2rem;
  }
}

.header-menu__status {
  background: #12ccd4;
  display: flex;
  color: white;
  text-decoration: none;
  padding: 0.7rem 1rem;
  height: 4.5rem;
  align-items: center;
  border-radius: 0.6rem;
  font-family: $font1;
  font-size: 1.4rem;
  margin-top: 1rem;
  width: 17rem;
  justify-content: space-between;
  margin-left: auto;
  transition: 0.3s;

  &:hover {
    background: map-get($basic, hover-main);
  }

  span {
    margin-right: 2rem;
  }

  @include bp-desktopXS() {
    margin-top: 0;
    margin-right: 8rem;
    padding: 0.5rem 1rem;
    height: 3.8rem;
  }

  @include bp-tabletXS() {
    margin-right: 2rem;
  }

  @include bp-mobile() {
    display: none;
  }
}

.header-menu__contacts-address {
  margin: 1rem 2rem 0 3rem;
  width: 21rem;

  @include bp-desktop() {
    width: 30rem;
    order: 2;
    margin-right: 0;
    text-align: right;
  }
}

.header-menu__contacts-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .contacts-item__title {
    margin: 0;
  }

  .contacts-item__link {
    font-size: 2.6rem;
    font-weight: bold;
    text-decoration: none;
    color: map-get($basic, main);
    transition: 0.3s;
    font-family: $font1;

    &:hover {
      color: map-get($basic, hover-primary);
    }
  }

  .contacts-item__subtitle {
    margin: 1rem 0 0 0;

    a {
      text-decoration: none;
      color: map-get($basic, main);
      transition: 0.3s;

      &:hover {
        color: map-get($basic, hover-primary);
      }
    }
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;

  @include bp-desktopXS() {
    display: none;
  }
}

.header-menu__navigation {
  display: flex;

  @include bp-desktopXS() {
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 14rem);

    .btn-yellow {
      background: transparent;
      color: map-get($basic, main);
      font-family: $font2;
      padding: 2rem 1rem;

      svg {
        display: none;
      }
    }

    li {
      border-bottom: 1px solid map-get($gray, color_e8) !important;
    }
  }

  @include bp-tablet() {
    height: calc(100vh - 10.5rem);
  }
}

.navigation-list {
  display: flex;
  padding: 0;
  margin: 0 1.2rem;
  background: map-get($gray, color_f0);
  border-radius: 0.6rem;

  li {
    list-style-type: none;
    position: relative;
    padding: 1rem;

    + li {
      margin-left: 0.5rem;
    }

    a {
      text-decoration: none;
      color: map-get($basic, main);
      transition: 0.3s;
      font-size: 1.4rem;
      font-weight: 500;
      white-space: nowrap;

      &:hover {
        color: map-get($basic, hover-primary);
      }
    }
  }

  @include bp-desktopXS() {
    margin: 0;
    flex-direction: column;

    a {
      width: 100%;
      display: flex;
    }

    li {
      padding: 2rem 1rem;

      + li {
        margin: 0;
      }
    }
  }
}

.navigation__hidden-menu {
  display: flex;
  flex-direction: column;
  position: relative;
}

.navigation__main-btn {
  border-radius: 0.6rem;
  background: map-get($basic, hover-main);
  border: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2rem 1.2rem 1.2rem;
  cursor: pointer;
  transition: 0.3s;
  z-index: 3;

  @include bp-desktopXS(min) {
    height: 3.8rem;

    &:hover {
      color: map-get($basic, main);
      background: map-get($gray, color_f0);

      .icon-menu span {
        background: map-get($basic, main);

        &::after,
        &::before {
          background: map-get($basic, main);
        }
      }
    }
  }

  .icon-menu {
    margin-right: 1rem;

    span {
      display: flex;
      width: 2.4rem;
      height: 0.2rem;
      background: white;
      position: relative;
      transition: 0.3s;

      &::after {
        content: "";
        position: absolute;
        width: 2.4rem;
        height: 0.2rem;
        background: white;
        top: -0.8rem;
        transition: 0.3s;
      }

      &::before {
        content: "";
        position: absolute;
        width: 2.4rem;
        height: 0.2rem;
        background: white;
        bottom: -0.8rem;
        transition: 0.3s;
      }
    }

    &.active {
      span {
        background: transparent;

        &::after {
          transform: rotate(45deg);
          top: 0;
          height: 0.2rem;
        }

        &::before {
          transform: rotate(-45deg);
          bottom: 0;
          height: 0.2rem;
        }
      }
    }
  }

  @include bp-desktopXS() {
    background: transparent;
    color: map-get($basic, main);
    justify-content: left;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    border-bottom: 1px solid map-get($gray, color_e8);
    border-radius: 0;

    span {
      display: inline-block;
      width: 100%;
      text-align: left;
    }

    &::after {
      content: "";
      width: 0.8rem;
      height: 0.8rem;
      border-bottom: 1px solid currentColor;
      border-right: 1px solid currentColor;
      position: absolute;
      top: 2.5rem;
      right: 1.3rem;
      transform: rotate(-45deg);
      transition: 0.3s;
    }

    .icon-menu {
      display: none;
    }

    &.active {
      padding-bottom: 0;

      > .accordion-btn {
        padding-bottom: 1rem;
      }
    }
  }
}

.desktop-menu {
  width: calc(100% - 4rem);
  padding: 2rem 0 1rem 1rem;
  border-radius: 0.6rem;
  background: map-get($gray, color_f0);
  position: absolute;
  top: 17.5rem;
  box-shadow: 0 4px 10px 0 rgba(82, 89, 102, 0.3);
  height: 56rem;

  &.active {
    opacity: 1;
    display: flex;
  }

  opacity: 0;
  display: none;
}

.desktop-menu__btn-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: calc(100vw / 4);
  padding-right: 1rem;
  border-right: 1px solid map-get($gray, color_d4);

  .tabs-btn {
    text-align: left;
    font-weight: 500;
    font-size: 1.4rem;

    + .tabs-btn {
      margin-left: 0;
    }
  }
}

.desktop-menu__link-list {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 1rem;

  a {
    text-decoration: none;
    color: map-get($basic, main);
    transition: 0.3s;
    font-size: 1.4rem;
    white-space: nowrap;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      color: map-get($basic, hover-primary);
    }
  }

  .main-link__subtitle-link {
    font-size: 1.6rem;
    font-weight: 500;
  }

  .tabs-content {
    width: 100%;
  }
}

.link-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 2rem;

  &::-webkit-scrollbar {
    background: white;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: map-get($basic, main);
  }
}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2.5rem;
  max-height: 100%;
  padding-bottom: 1rem;
}

.main-menu__section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 30rem;
}

.main-menu__section-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navigation-list_dropdown-item {
  position: relative;
  z-index: 2;

  @include bp-desktopXS(min) {
    &:hover {
      .navigation-list_dropdown-list {
        opacity: 1;
        display: block;
      }

      > a {
        color: map-get($basic, hover-primary);

        &::after {
          top: 0.8rem;
          transform: rotate(225deg);
        }
      }
    }


    > a {
      position: relative;
      padding-right: 2rem;

      &::after {
        content: "";
        width: 0.8rem;
        height: 0.8rem;
        border-bottom: 1px solid currentColor;
        border-right: 1px solid currentColor;
        position: absolute;
        top: 0.4rem;
        right: 0.3rem;
        transform: rotate(45deg);
        transition: 0.3s;
      }

      &:hover::after {
        top: 0.8rem;
        transform: rotate(225deg);
      }
    }
  }


  @include bp-desktopXS() {
    &.accordion {
      > a {
        position: relative;

        &::after {
          content: "";
          width: 0.8rem;
          height: 0.8rem;
          border-bottom: 1px solid currentColor;
          border-right: 1px solid currentColor;
          position: absolute;
          top: 0.4rem;
          right: 0.3rem;
          transform: rotate(-45deg);
          transition: 0.3s;
        }
      }
    }

    &.active {
      padding-bottom: 0;

      > .accordion-btn {
        padding-bottom: 1rem;
      }
    }
  }
}

.navigation-list_dropdown-list {
  @include bp-desktopXS(min) {
    opacity: 0;
    position: absolute;
    display: none;
    z-index: 5;
    top: 3.7rem;
    left: -50%;
    padding: 0.5rem 0;
    margin: 0 !important;
  }

  display: block;
  background: map-get($gray, color_f0);
  border-radius: 0.6rem;

  li {
    border-bottom: 1px solid map-get($gray, color_e8);
    padding: 1rem 2rem;

    &:last-of-type {
      border-bottom: none;
    }

    + li {
      margin-left: 0;
    }
  }

  @include bp-desktopXS() {
    margin: 0 !important;
    padding: 0;
    width: 100%;

    li {
      padding: 2rem 0;
    }
  }
}

.header-menu__search {
  background: map-get($gray, color_f0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.2rem 0.5rem 0.5rem;
  border-radius: 0.6rem;
  width: 100%;
  margin-left: 1.2rem;

  @include bp-desktopXS() {
    display: none;
  }
}

.input__wrapper {
  position: relative;
  width: auto;

  input {
    width: 100%;
    padding: 0.5rem 3.2rem 0.5rem 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid map-get($gray, color_d4);
    transition: 0.3s;

    &:hover {
      border-color: map-get($basic, hover-primary);
    }

    &:focus {
      border-color: map-get($gray, color_52);
    }

    &::placeholder {
      color: map-get($basic, main);
      font-weight: 500;
      opacity: 0.5;
    }
  }

  svg {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
  }

  @include bp-desktop() {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

.header-menu__search-sn {
  @include bp-desktopXS() {
    display: none;
  }
}

.header-menu__icons-list {
  display: flex;

  a,
  button {
    text-decoration: none;
    color: map-get($basic, main);
    transition: 0.3s;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    margin-left: 1rem;
  }

  @include bp-desktopXS(min) {
    display: none;
  }
}

.btn-burger {
  border: none;
  padding: 0;

  span {
    display: flex;
    width: 2.4rem;
    height: 0.2rem;
    background: map-get($basic, main);
    position: relative;
    transition: 0.3s;

    &::after {
      content: "";
      position: absolute;
      width: 2.4rem;
      height: 0.2rem;
      background: map-get($basic, main);
      top: -0.8rem;
      transition: 0.3s;
    }

    &::before {
      content: "";
      position: absolute;
      width: 2.4rem;
      height: 0.2rem;
      background: map-get($basic, main);
      bottom: -0.8rem;
      transition: 0.3s;
    }
  }

  &.active {
    span {
      background: transparent;

      &::after {
        transform: rotate(45deg);
        top: 0;
        height: 0.15rem;
      }

      &::before {
        transform: rotate(-45deg);
        bottom: 0;
        height: 0.15rem;
      }
    }
  }
}

.contacts__wrap {
  @include bp-desktopXS(min) {
    display: none;
  }

  padding: 1rem;
  display: flex;
  flex-direction: column;

  h3 {
    margin: 2rem 0;
    font-size: 1.4rem;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.contacts__item {
  text-decoration: none;
  color: map-get($basic, main);
  display: flex;

  + .contacts__item {
    margin-top: 2rem;
  }

  span {
    &:first-of-type {
      display: inline-block;
      width: 3rem;
    }

    b {
      display: inline-block;
      margin-bottom: 0.7rem;
    }
  }
}

.mob-menu {
  @include bp-desktopXS(min) {
    display: none;
  }

  position: absolute;
  transform: translateX(-100%);
  transition: 0.3s;
  top: 100%;
  width: 100%;
  margin-left: -2rem;
  background: map-get($gray, color_f0);
  //height: 100vh;
  height: auto;
  overflow-y: auto;
  padding-bottom: 3.5rem;

  &.active {
    transform: translateX(0);
    height: calc(100vh - 6.5rem);
  }

  @include bp-tablet() {
    margin-left: -1rem;
  }
}

.mob-menu__list {
  height: 0;
  overflow: hidden;
  background: #e4ebeb;

  > .mob-menu__list {
    background: #d7dede;

    > .mob-menu__list {
      background: #c7cdcd;
    }

    &.active {
      .mob-menu__btn.active.btn-arrow {
        a {
          text-decoration: none;
        }
      }
    }
  }

  &.active {
    .mob-menu__btn.active.btn-arrow {
      a {
        color: map-get($basic, main);
        font-weight: 600;
        text-decoration: underline;
      }

      &::after {
        border-color: map-get($basic, main);
      }
    }
  }
}

.mob-menu__btn {
  padding: 1rem 3rem 1rem 1rem;

  a {
    text-decoration: none;
    color: map-get($basic, main);
    font-size: 1.4rem;
    font-weight: 500;
  }

  &.btn-arrow {
    position: relative;

    &::after {
      content: "";
      width: 1rem;
      height: 1rem;
      border-bottom: 1.5px solid map-get($basic, main);
      border-left: 1.5px solid map-get($basic, main);
      transform: rotate(-45deg);
      position: absolute;
      right: 1.5rem;
      top: 1rem;
      transition: 0.3s;
    }
  }

  &.active {
    &.btn-arrow {
      a {
        color: map-get($basic, hover-primary);
      }

      &::after {
        transform: rotate(-225deg);
        top: 1.5rem;
        border-color: map-get($basic, hover-primary);
      }
    }
  }
}
