.website-header {
  padding: 0;
}

.header__wrapper {
  background: map-get($basic, primary);

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.header__links {
  display: flex;
  padding: 0;
  margin: 1.2rem 0;

  li {
    list-style-type: none;
    position: relative;

    + li {
      padding-left: 3rem;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 1.3rem;
        width: 0.5rem;
        height: 0.5rem;
        background: map-get($gray, color_d9);
        border-radius: 50%;
        transform: translateY(-50%);
      }
    }
  }

  a {
    text-decoration: none;
    color: $color-white;
    font-size: 1.3rem;
    transition: 0.3s;

    &:hover {
      color: map-get($basic, hover-primary);
    }
  }

  @include bp-tablet() {
    display: none;
  }
}

.header__controllers {
  display: flex;
  margin: 0.7rem 0;

  a {
    text-decoration: none;
    color: $color-white;
    font-size: 1.3rem;
    transition: 0.3s;
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      margin-right: 0.7rem;
    }

    &:nth-child(2) {
      margin-left: 3rem;

      @include bp-tablet() {
        margin-left: auto;
      }

      @include bp-mobile() {
        display: none;
      }
    }

    &:last-child {
      margin-left: 6rem;

      span {
        height: 2.1rem;
        margin: 0 0 0 1.4rem;
      }

      @include bp-tablet() {
        margin-left: 4rem;
      }

      @include bp-mobile() {
        margin-left: auto;
      }
    }

    &:hover {
      color: map-get($basic, hover-primary);
    }
  }

  @include bp-tablet() {
    width: 100%;
  }
}

.header-menu__wrapper {
  margin-bottom: 2.5rem;

  @include bp-tablet() {
    margin-bottom: 2rem;
  }

  @include bp-tabletXS() {
    margin-bottom: 0;
  }

  .container {
    display: flex;
    flex-direction: column;

    @include bp-desktopXS() {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 100;
    }
  }
}

.header-menu__info {
  display: flex;
  justify-content: space-between;
  margin: 2.2rem 0;

  @include bp-desktopXS() {
    margin: 1rem 0;
  }
}

.header-menu__logo {
  display: flex;

  .logo {
    width: 18rem;

    img {
      width: 100%;
    }

    @include bp-tablet() {
      width: 11rem;
    }
  }
}

.header-menu__logo-desc {
  margin: 1.5rem 0 0 2rem;

  @include bp-tablet() {
    display: none;
  }
}

.header-menu__contacts {
  display: flex;

  @include bp-desktopXS() {
    display: none;
  }
}

.list-sn {
  margin-left: 1rem;
  display: flex;

  a {
    text-decoration: none;
    color: map-get($gray, color_52);
    transition: 0.3s;

    + a {
      margin-left: 1rem;
    }

    &:hover {
      color: map-get($basic, hover-primary);
    }
  }
}

.header-menu__contacts-sn {
  @include bp-desktop(min) {
    display: none;
  }

  @include bp-desktopXS() {
    display: none;
  }
}

.header-menu__contacts-group {
  display: flex;
  margin-right: 3rem;

  @include bp-desktop() {
    flex-direction: column;
  }
}

.header-menu__contacts-address {
  margin: 1rem 4rem 0 0;

  @include bp-desktop() {
    order: 2;
    margin-right: 0;
    text-align: right;
  }
}

.header-menu__contacts-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .contacts-item__title {
    margin: 0;
  }

  .contacts-item__link {
    font-size: 2.6rem;
    font-weight: bold;
    text-decoration: none;
    color: map-get($basic, main);
    transition: 0.3s;
    font-family: $font1;

    &:hover {
      color: map-get($basic, hover-primary);
    }
  }

  .contacts-item__subtitle {
    margin: 1rem 0 0 0;

    a {
      text-decoration: none;
      color: map-get($basic, main);
      transition: 0.3s;

      &:hover {
        color: map-get($basic, hover-primary);
      }
    }
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;

  @include bp-desktopXS() {
    transform: translateX(-100%);
    transition: 0.3s;
    top: 100%;
    position: absolute;
    width: 100%;
    margin-left: -2rem;
    background: map-get($gray, color_f0);
    //height: 100vh;
    height: auto;
  }

  &.active {
    overflow-y: scroll;

    @include bp-desktopXS() {
      transform: translateX(0);
    }

    @include bp-tablet() {
      margin-left: -1rem;
    }
  }
}

.header-menu__navigation {
  display: flex;

  @include bp-desktopXS() {
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 14rem);

    .btn-yellow {
      background: transparent;
      color: map-get($basic, main);
      font-family: $font2;
      padding: 2rem 1rem;

      svg {
        display: none;
      }
    }

    li {
      border-bottom: 1px solid map-get($gray, color_e8) !important;
    }
  }

  @include bp-tablet() {
    height: calc(100vh - 10.5rem);
  }
}

.navigation-list {
  display: flex;
  padding: 0;
  margin: 0 1.2rem;
  background: map-get($gray, color_f0);
  border-radius: 0.6rem;

  li {
    list-style-type: none;
    position: relative;
    padding: 1rem;

    + li {
      margin-left: 0.5rem;
    }

    a {
      text-decoration: none;
      color: map-get($basic, main);
      transition: 0.3s;
      font-size: 1.4rem;
      font-weight: 500;
      white-space: nowrap;

      &:hover {
        color: map-get($basic, hover-primary);
      }
    }
  }

  @include bp-desktopXS() {
    margin: 0;
    flex-direction: column;

    a {
      width: 100%;
      display: flex;
    }

    li {
      padding: 2rem 1rem;

      + li {
        margin: 0;
      }
    }
  }
}

.navigation__hidden-menu {
  border-radius: 0.6rem;
  background: map-get($basic, hover-main);
  border: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 2rem 1.2rem 1.2rem;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  z-index: 3;

  @include bp-desktopXS(min) {
    height: 3.8rem;

    &:hover {
      color: map-get($basic, main);
      background: map-get($gray, color_f0);

      .main-menu {
        opacity: 1;
        display: block;
      }
    }
  }

  svg {
    margin-right: 1rem;
  }

  @include bp-desktopXS() {
    background: transparent;
    color: map-get($basic, main);
    justify-content: left;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    border-bottom: 1px solid map-get($gray, color_e8);
    border-radius: 0;

    span {
      display: inline-block;
      width: 100%;
      text-align: left;
    }

    &::after {
      content: "";
      width: 0.8rem;
      height: 0.8rem;
      border-bottom: 1px solid currentColor;
      border-right: 1px solid currentColor;
      position: absolute;
      top: 2.5rem;
      right: 1.3rem;
      transform: rotate(-45deg);
      transition: 0.3s;
    }

    svg {
      display: none;
    }

    &.active {
      padding-bottom: 0;

      > .accordion-btn {
        padding-bottom: 1rem;
      }
    }
  }
}

.main-menu {
  background: map-get($gray, color_f0);
  z-index: 6;
  border-radius: 0.6rem;
  padding: 0;
  display: block;
  margin: 0;

  @include bp-desktopXS(min) {
    opacity: 0;
    display: none;
    position: absolute;
    left: 0;
    top: 3.7rem;
  }

  @include bp-desktopXS() {
    width: 100%;
    margin: 0 !important;

    > li > a {
      width: 100%;
      padding: 2rem 0;
    }
  }


  li {
    list-style-type: none;
    position: relative;
    text-align: left;
    border-bottom: 1px solid map-get($gray, color_e8);

    &:last-of-type {
      border-bottom: none;
    }
  }

  a {
    text-decoration: none;
    color: map-get($basic, main);
    transition: 0.3s;
    font-size: 1.4rem;
    font-weight: 500;
    white-space: nowrap;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 26rem;
    padding: 1rem 2rem 1rem 1.5rem;

    &.has-dropdown {
      &::after {
        right: 1rem;
        top: 40%;
        position: absolute;
        content: "";
        width: 0.7rem;
        height: 0.7rem;
        transform: rotate(-45deg);
        border-bottom: 1px solid currentColor;
        border-right: 1px solid currentColor;
        transition: 0.3s;
      }

      @include bp-desktopXS() {
        &::after {
          width: 0.8rem;
          height: 0.8rem;
          right: 0.3rem;
        }
      }
    }

    @include bp-desktopXS(min) {
      &:hover {
        color: map-get($basic, hover-primary);

        &::after {
          right: 1.6rem;
        }
      }
    }
  }

  @include bp-desktopXS(min) {
    .main-menu__dropdown-item {
      &:hover .main-menu__dropdown-list {
        opacity: 1;
        display: block;
      }
    }
  }

  .main-menu__dropdown-list {
    background: map-get($gray, color_f0);
    padding: 0;

    a {
      white-space: normal;
      height: 3.8rem;
      padding: 0 1rem;
      display: flex;
      align-items: center;
    }

    @include bp-desktopXS(min) {
      opacity: 0;
      display: none;
      position: absolute;
      left: 100%;
      top: 0;
      column-count: 3;
      box-shadow: 0 0 6px 0 rgba(93, 98, 101, 0.2);
      border-radius: 0.6rem;
    }

    @include bp-desktopXS() {
      display: flex;
      flex-direction: column;
      margin: 0 !important;

      a {
        height: 5.6rem;
      }
    }

    li {
      @include bp-desktopXS() {
        > a {
          width: 100%;
          padding: 0;
        }
      }
    }
  }

  .main-menu__dropdown-item__second {
    position: relative;
    z-index: 7;

    @include bp-desktopXS(min) {
      &:hover .main-menu__dropdown-list__second {
        opacity: 1;
        display: block;
      }
    }
  }

  .main-menu__dropdown-list__second {
    background: map-get($gray, color_f0);
    padding: 0;

    @include bp-desktopHD() {
      column-count: 2;
    }

    @include bp-desktopXS(min) {
      opacity: 0;
      display: none;
      position: absolute;
      left: 100%;
      //top: 0;
      bottom: 0;
      border-radius: 0.6rem;
      column-count: 3;
      box-shadow: 0 0 10px 0 rgba(93, 98, 101, 0.3);
    }

    @include bp-desktopXS() {
      display: flex;
      flex-direction: column;
      margin: 0 !important;
    }
  }
}

.navigation-list_dropdown-item {
  position: relative;
  z-index: 2;

  @include bp-desktopXS(min) {
    &:hover {
      .navigation-list_dropdown-list {
        opacity: 1;
        display: block;
      }

      > a {
        color: map-get($basic, hover-primary);

        &::after {
          top: 0.8rem;
          transform: rotate(225deg);
        }
      }
    }


    > a {
      position: relative;
      padding-right: 2rem;

      &::after {
        content: "";
        width: 0.8rem;
        height: 0.8rem;
        border-bottom: 1px solid currentColor;
        border-right: 1px solid currentColor;
        position: absolute;
        top: 0.4rem;
        right: 0.3rem;
        transform: rotate(45deg);
        transition: 0.3s;
      }

      &:hover::after {
        top: 0.8rem;
        transform: rotate(225deg);
      }
    }
  }


  @include bp-desktopXS() {
    &.accordion {
      > a {
        position: relative;

        &::after {
          content: "";
          width: 0.8rem;
          height: 0.8rem;
          border-bottom: 1px solid currentColor;
          border-right: 1px solid currentColor;
          position: absolute;
          top: 0.4rem;
          right: 0.3rem;
          transform: rotate(-45deg);
          transition: 0.3s;
        }
      }
    }

    &.active {
      padding-bottom: 0;

      > .accordion-btn {
        padding-bottom: 1rem;
      }
    }
  }
}

.navigation-list_dropdown-list {
  @include bp-desktopXS(min) {
    opacity: 0;
    position: absolute;
    display: none;
    z-index: 5;
    top: 3.7rem;
    left: -50%;
    padding: 0.5rem 0;
    margin: 0 !important;
  }

  display: block;
  background: map-get($gray, color_f0);
  border-radius: 0.6rem;

  li {
    border-bottom: 1px solid map-get($gray, color_e8);
    padding: 1rem 2rem;

    &:last-of-type {
      border-bottom: none;
    }

    + li {
      margin-left: 0;
    }
  }

  @include bp-desktopXS() {
    margin: 0 !important;
    padding: 0;
    width: 100%;

    li {
      padding: 2rem 0;
    }
  }
}

.header-menu__search {
  background: map-get($gray, color_f0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.2rem 0.5rem 0.5rem;
  border-radius: 0.6rem;
  width: 100%;
  margin-left: 1.2rem;

  @include bp-desktopXS() {
    display: none;
  }
}

.input__wrapper {
  position: relative;
  width: auto;

  input {
    width: 100%;
    padding: 0.5rem 3.2rem 0.5rem 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid map-get($gray, color_d4);
    transition: 0.3s;

    &:hover {
      border-color: map-get($basic, hover-primary);
    }

    &:focus {
      border-color: map-get($gray, color_52);
    }

    &::placeholder {
      color: map-get($basic, main);
      font-weight: 500;
      opacity: 0.5;
    }
  }

  svg {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
  }

  @include bp-desktop() {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

.header-menu__search-sn {
  @include bp-desktop() {
    display: none;
  }
}

.header-menu__icons-list {
  display: flex;

  a,
  button {
    text-decoration: none;
    color: map-get($basic, main);
    transition: 0.3s;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    margin-left: 1rem;
  }

  @include bp-desktopXS(min) {
    display: none;
  }
}

.btn-burger {
  border: none;
  padding: 0;

  span {
    display: flex;
    width: 2.4rem;
    height: 0.2rem;
    background: map-get($basic, main);
    position: relative;
    transition: 0.3s;

    &::after {
      content: "";
      position: absolute;
      width: 2.4rem;
      height: 0.2rem;
      background: map-get($basic, main);
      top: -0.8rem;
      transition: 0.3s;
    }

    &::before {
      content: "";
      position: absolute;
      width: 2.4rem;
      height: 0.2rem;
      background: map-get($basic, main);
      bottom: -0.8rem;
      transition: 0.3s;
    }
  }

  &.active {
    span {
      background: transparent;

      &::after {
        transform: rotate(45deg);
        top: 0;
        height: 0.15rem;
      }

      &::before {
        transform: rotate(-45deg);
        bottom: 0;
        height: 0.15rem;
      }
    }
  }
}

.contacts__wrap {
  @include bp-desktopXS(min) {
    display: none;
  }

  padding: 1rem;
  display: flex;
  flex-direction: column;

  h3 {
    margin: 2rem 0;
    font-size: 1.4rem;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.contacts__item {
  text-decoration: none;
  color: map-get($basic, main);
  display: flex;

  + .contacts__item {
    margin-top: 2rem;
  }

  span {
    &:first-of-type {
      display: inline-block;
      width: 3rem;
    }

    b {
      display: inline-block;
      margin-bottom: 0.7rem;
    }
  }
}
