.banner__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 4rem;

  .slider {
    width: 100%;

    .js-slider-banner {
      overflow: hidden;
      height: 43rem;
      border-radius: 0.6rem;
    }

    .swiper-wrapper {
      display: flex;
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      min-width: 100%;
      height: 43rem;
      display: block;
      transition: 0.3s;

      &:hover {
        opacity: 0.5;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 0.6rem;
      }
    }

    .swiper-pagination {
      height: 1rem;
      display: flex;
      justify-content: center;
      width: auto;
      z-index: 10;
      margin-top: 2rem;

      .swiper-pagination-bullet {
        transition: 0.3s;
        display: block;
        width: 0.7rem;
        height: 0.7rem;
        background: map-get($gray, color_e8);
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background: $color-gray;
        }

        + .swiper-pagination-bullet {
          margin-left: 1.5rem;
        }

        &-active {
          background: map-get($basic, primary);
          cursor: default;

          &:hover {
            background: map-get($basic, primary);
          }
        }
      }
    }

    @include bp-desktop() {
      .js-slider-banner {
        height: 35rem;
      }

      .swiper-slide {
        height: 35rem;
      }
    }

    @include bp-desktopXS() {
      .swiper-pagination {
        display: none;
      }
    }

    @include bp-tablet() {
      .js-slider-banner {
        height: 28rem;
      }

      .swiper-slide {
        height: 28rem;
      }
    }

    @include bp-mobile() {
      width: 100%;
      margin-bottom: 1rem;

      .js-slider-banner {
        height: 23rem;
      }

      .swiper-slide {
        height: 23rem;
      }
    }

    @include bp-mobileXS() {
      .js-slider-banner {
        height: 20rem;
      }

      .swiper-slide {
        height: 20rem;
      }
    }
  }

  @include bp-tablet() {
    margin: 0 0 3rem;
  }

  @include bp-mobile() {
    flex-direction: column;
  }
}

