.catalog-3items__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;

  .catalog-items__list {
    justify-content: flex-end;
    flex-grow: 1;

    @include bp-tablet() {
      justify-content: space-between;
    }
  }

  &.minimum-blocks {
    .catalog-items__item {
      width: 50%;
    }

    .catalog-3items__label {
      min-width: calc(50% - 2rem);
      max-width: calc(50% - 2rem);
    }

    @include bp-tablet() {
      .catalog-items__item {
        width: calc(25% - 1rem);
      }

      .catalog-items__list {
        justify-content: flex-start;
      }

      .catalog-3items__label {
        min-width: 100%;
        max-width: none;
      }
    }

    @include bp-tabletXS() {
      .catalog-items__item {
        width: calc(50% - 0.5rem);
      }

      .catalog-items__list {
        justify-content: space-between;
      }
    }
  }

  @include bp-tablet() {
    flex-direction: column;
    margin-bottom: 7rem;
  }

  @include bp-tabletXS() {
    flex-wrap: wrap;
    margin-bottom: 4rem;
  }

  @include bp-mobile() {
    margin-bottom: 3rem;
  }
}

.catalog-3items__label {
  max-width: calc(25% - 2rem);
  min-width: calc(25% - 2rem);
  margin-right: 2rem;

  @include bp-tablet() {
    max-width: 40rem;
    min-width: 40rem;
  }

  @include bp-mobile() {
    max-width: 100%;
    min-width: auto;
  }
}

.catalog-items__list {
  display: flex;

  @include bp-mobile() {
    flex-wrap: wrap;
  }
}

.catalog-items__item {
  width: 33%;
  display: flex;
  flex-direction: column;

  + .catalog-items__item {
    margin-left: 1rem;
  }

  p {
    margin: 0 0 2rem;

    &:empty {
      margin: 0;
    }
  }

  @include bp-mobile() {
    width: 100%;

    + .catalog-items__item {
      margin-left: 0;
      margin-top: 3rem;
    }
  }
}

.catalog-items__img {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-radius: 0.6rem;
  margin-bottom: 2rem;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: #f0f6f6;
  }

  &_height {
    height: 30rem;
  }

  &_square {
    height: 33rem;
  }

  @include bp-desktopXS() {
    height: 16rem;

    &_height {
      height: 27rem;
    }

    &_square {
      height: 23rem;
    }
  }

  @include bp-tablet() {
    &_height {
      height: 22rem;
    }

    &_square {
      height: 22rem;
    }
  }

  @include bp-tabletXS() {
    &_height {
      height: 20rem;
    }

    &_square {
      height: 22rem;
    }
  }

  @include bp-mobile() {
    margin-bottom: 1rem;

    &_height {
      height: 16rem;
    }

    &_square {
      height: 30rem;
    }
  }
}

.catalog-items__title {
  color: $color-black;
  margin: 0 0 3rem;
  transition: 0.3s;

  @include bp-tablet() {
    margin-bottom: 2rem;
    min-height: auto;
    max-height: 4rem;
  }
}

.catalog-items__price {
  color: map-get($basic, hover-main);

  + .catalog-items__price {
    margin-top: 0.5rem;
  }

  &:last-of-type {
    margin-bottom: 3rem;
  }

  span {
    font-family: $font1;
    font-size: 2.2rem;
    font-weight: 700;

    &.min {
      font-size: 1.3rem;
      color: map-get($basic, main);
      font-weight: normal;
      margin-right: 1.5rem;
    }
  }

  @include bp-desktopXS() {
    &:last-of-type {
      margin-bottom: 3rem;
    }
  }

  @include bp-tablet() {
    margin-top: auto;

    span {
      font-size: 1.8rem;

      &.min {
        margin-right: 1rem;
      }
    }
  }
}

.catalog-items__link {
  background: map-get($basic, hover-main);
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  border-radius: 0.6rem;
  padding: 0.7rem 1rem;
  width: 17rem;
  transition: 0.3s;
  margin-top: auto;

  &:hover {
    background: map-get($basic, hover-primary);
  }

  &_pink {
    background: map-get($basic, hover-main);
    color: $color-white;

    &:hover {
      background: map-get($basic, hover-primary);
    }
  }

  @include bp-tablet() {
    &:not(&_pink) {
      width: 100%;
    }
  }
}
