.categories-4items__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;

  @include bp-tablet() {
    margin-bottom: 7rem;
  }

  @include bp-tabletXS() {
    flex-wrap: wrap;
    margin-bottom: 4rem;
  }

  @include bp-mobile() {
    margin-bottom: 3rem;
  }
}

.categories-4items__item {
  background: map-get($gray, color_f0);
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  width: calc(25% - 1rem);
  color: map-get($basic, primary);
  padding: 1.5rem;
  transition: 0.3s;
  position: relative;

  &:hover {
    background: map-get($basic, hover-main);
    color: $color-white;

    .categories-4items__title {
      color: $color-white;
    }
  }

  @include bp-tablet() {
    padding: 0.7rem 1.2rem;
  }

  @include bp-tabletXS() {
    width: calc(50% - 0.6rem);

    &:nth-child(3),
    &:nth-child(4) {
      margin-top: 1.2rem;
    }
  }
}

.categories-4items__title {
  color: $color-black;
  font-weight: bold;
  font-size: 2.2rem;
  font-family: $font1;
  transition: 0.3s;

  @include bp-tablet() {
    font-size: 1.7rem;
  }

  @include bp-mobileXS() {
    font-size: 1.6rem;
  }
}

.categories-4items__subtitle {
  font-size: 1.4rem;
  margin-top: 0.8rem;

  @include bp-tabletXS() {
    margin-top: 0.5rem;
  }
}

.categories-4items__icon {
  @include bp-tablet() {
    position: absolute;
    bottom: 0.7rem;
    right: 0.7rem;
  }

  @include bp-tabletXS() {
    display: none;
  }
}
