.catalog-4items__wrapper {
  margin-bottom: 10rem;

  .catalog-items__item {
    width: calc(25% - 1rem);
  }

  @include bp-desktopXS() {
    .catalog-items__img {
      height: 18rem;

      &_square {
        height: 28rem;
      }
    }
  }

  @include bp-tablet() {
    margin-bottom: 7rem;

    .catalog-items__img {
      &_square {
        height: 22rem;
      }
    }
  }

  @include bp-tabletXS() {
    margin-bottom: 4rem;

    .catalog-items__list {
      flex-wrap: wrap;
    }

    .catalog-items__item {
      width: calc(50% - 0.5rem);

      + .catalog-items__item {
        margin-left: 0;
      }

      &:nth-child(3),
      &:nth-child(4) {
        margin-top: 4rem;
      }

      &:nth-child(2n) {
        margin-left: 1rem;
      }
    }

    .catalog-items__img {
      height: 16rem;

      &_square {
        height: 30rem;
      }
    }
  }

  @include bp-mobile() {
    margin-bottom: 3rem;

    .catalog-items__item {
      width: 100%;

      + .catalog-items__item {
        margin-top: 3rem;
        margin-left: 0;
      }
    }

    .catalog-items__img {
      img {
        object-fit: contain;
        background-color: #f0f6f6;
      }
    }
  }
}

.catalog-items__subtitle {
  margin: 0 0 2rem;
}
