.price-item-row__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;

  @include bp-tablet() {
    margin-bottom: 7rem;
  }

  @include bp-tabletXS() {
    margin-bottom: 4rem;
  }

  @include bp-mobile() {
    margin-bottom: 3rem;
  }
}

.price-item-row__title {
  h2 {
    margin-bottom: 1.5rem;
  }

  @include bp-tabletXS() {
    h2 {
      margin-bottom: 0;
    }
  }
}

.price-item-row__list {
  display: flex;
  flex-direction: column;
}

.price-item-row__item {
  display: flex;
  position: relative;
  padding: 4rem 0 5rem;
  border-bottom: 1px solid map-get($gray, color_d4);

  @include bp-desktopXS() {
    padding-bottom: 11rem;
  }

  @include bp-tablet() {
    padding-bottom: 14rem;
  }

  @include bp-tabletXS() {
    flex-direction: column;
    padding: 3rem 0 4rem;
  }
}

.price-item-row__text {
  width: 75vw;
  display: flex;

  @include bp-tabletXS() {
    width: 100%;
  }

  @include bp-mobile() {
    flex-direction: column;
  }
}

.price-item-row__number {
  width: calc(33% - 0.6rem);
  margin: 0;

  @include bp-tabletXS() {
    position: absolute;
    width: 50%;
  }

  @include bp-mobile() {
    width: 100%;
    text-align: right;
  }
}

.price-item-row__label {
  width: calc(33% - 0.6rem);

  h3 {
    margin: 0 0 1rem;
  }

  @include bp-tabletXS() {
    padding-top: 4rem;
    width: 50%;

    h3 {
      margin-bottom: 2rem;
    }
  }

  @include bp-mobile() {
    padding-top: 0;
    width: 100%;
  }
}

.price-item-row__desc {
  width: calc(33% - 0.6rem);

  p {
    margin: 0;
  }

  @include bp-tabletXS() {
    width: 50%;
  }

  @include bp-mobile() {
    width: 100%;
    padding-top: 19rem;
  }
}

.price-item-row__img {
  width: calc(25% - 0.6rem);
  height: 34rem;
  border-radius: 0.6rem;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @include bp-desktopXS() {
    height: 28rem;
  }

  @include bp-tablet() {
    height: 22rem;
  }

  @include bp-tabletXS() {
    width: 25%;
    margin-top: 2rem;
    height: 15rem;
  }

  @include bp-mobile() {
    width: 15rem;
    margin-top: 0;
    position: absolute;
    top: 11rem;
  }
}

.price-item-row__price {
  position: absolute;
  display: flex;
  width: 50%;
  left: 24%;
  bottom: 5rem;

  @include bp-tabletXS() {
    left: auto;
    right: 0;
    bottom: 4rem;
    flex-direction: column;
  }

  @include bp-mobile() {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
  }
}

.price-item-row__col {
  display: flex;

  &:first-of-type {
    min-width: 48%;
    margin-right: 1rem;
  }

  h3 {
    margin: 0 0.5rem 0 0;
  }

  a {
    height: 3.5rem;
  }

  @include bp-tablet() {
    &:first-of-type {
      flex-direction: column;
    }
  }

  @include bp-tabletXS() {
    &:first-of-type {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }
}

.price-list__item-price {
  white-space: nowrap;
}
