.slider-4items {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  margin-bottom: 10rem;

  @include bp-tablet() {
    margin-bottom: 7rem;
  }

  @include bp-tabletXS() {
    margin-bottom: 4rem;
  }

  @include bp-mobile() {
    margin-bottom: 3rem;
  }
}

.slider-4items__wrapper {
  display: flex;
  margin-top: 3.5rem;
}

.slider-4items__item {
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  @include bp-tablet(min) {
    &:hover {
      .slider-img {
        opacity: 0.5;

        img {
          transform: scale(1.05);
        }
      }

      .slider-title {
        color: map-get($basic, hover-primary);
      }
    }
  }

  @include bp-mobile() {
    width: 20.5rem;
  }
}

.slider-img {
  margin-bottom: 2rem;
  min-height: 24rem;
  overflow: hidden;
  border-radius: 0.6rem;
  transition: 0.3s;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.6rem;
    transition: 0.3s;
  }

  @include bp-tablet() {
    min-height: 22rem;
  }
}

.slider-title {
  font-size: 2.2rem;
  color: $color-black;
  font-weight: bold;
  margin: 0 0 2.5rem;
  min-height: 5rem;
  transition: 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
  display: box;
  box-orient: vertical;
  -webkit-line-clamp: 2;
  font-family: $font1;

  @include bp-tablet() {
    font-size: 1.7rem;
  }

  @include bp-mobile() {
    font-size: 1.5rem;
    min-height: 4.4rem;
  }
}

.slider-subtitle {
  color: map-get($basic, hover-main);
  margin: auto 0 0;

  span {
    font-size: 2.2rem;
    font-weight: bold;
    display: inline-block;
    margin-right: 0.5rem;
    font-family: $font1;
  }
}

.slider-i {
  color: $color-black;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1rem;
  display: flex;
  background: $color-yellow;
  top: 1.2rem;
  left: 1.2rem;
  border-radius: 0.6rem;
  position: absolute;
  margin: 0;
}

.slider-4items__title {
  padding-bottom: 1.3rem;
  border-bottom: 1px solid map-get($gray, color_d4);
  position: relative;

  p {
    margin: 0;
    font-size: 2.2rem;
    font-weight: bold;
    font-family: $font1;
  }

  span {
    color: map-get($basic, hover-primary);
  }

  &::after {
    position: absolute;
    content: "";
    background: map-get($basic, primary);
    height: 0.4rem;
    width: 34rem;
    border-radius: 0.6rem;
    bottom: -0.2rem;
    left: 0;
  }

  @include bp-tablet() {
    &::after {
      width: 25rem;
    }
  }

  @include bp-mobile() {
    p {
      max-width: 20rem;
    }
  }
}

.slider-4items__buttons {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;

  .swiper-button {
    cursor: pointer;
    color: map-get($basic, primary);
    transition: 0.3s;

    &:hover {
      color: map-get($basic, hover-primary);
    }

    + .swiper-button {
      margin-left: 0.8rem;
    }
  }

  .swiper-button-disabled {
    cursor: default;
    opacity: 0.3;

    &:hover {
      color: map-get($basic, primary);
    }
  }

  @include bp-mobile() {
    top: 0.3rem;

    .swiper-button {
      width: 2rem;

      svg {
        width: 100%;
      }
    }
  }
}
