<div class="js-number">
    <div class="application-popup">
        <div class="popup__header">
            <div class="popup__title">
                <h2>Заказать звонок</h2>
            </div>
        </div>
        <div class="popup__body application__body">
            <form action="">
                <input type="text" placeholder="Ваше имя">

                <input class=" js-mask-phone" type="tel" placeholder="Ваш телефон">

                <div class="wrapper-checkbox">
                    <h3>Как с вами связаться?</h3>
                    <div class="wrapper-checkbox__list">
                        <div class="wrapper-checkbox__item">
                            <input name="type-back-call" type="radio" id="phone">
                            <label for="phone">Телефон</label>
                        </div>

                        <div class="wrapper-checkbox__item">
                            <input name="type-back-call" type="radio" id="WhatsApp">
                            <label for="WhatsApp">WhatsApp</label>
                        </div>
                    </div>
                </div>

                <button class="button-primary button-primary_primary" type="button">
                    Оставить<br>заявку
                </button>

                <p>
                    <input type="checkbox" id="policy">
                    Я согласен на <a href="#">обработку персональных данных и получение информационно-рекламных рассылок</a></p>
            </form>
        </div>
    </div>
</div>