<div class="js-search">
    <div class="search-popup">
        <div class="popup__body search__body">
            <div class="search-popup__list">
                <a href="#" class="search-popup__item">
                    <div class="search-popup__img">
                        <img src="./assets/images/catalog-1.jpg" alt="">
                    </div>
                    <p class="search-popup__title">
                        Визитницы и подставки под визитки
                    </p>
                </a>
                <a href="#" class="search-popup__item">
                    <div class="search-popup__img">
                        <img src="./assets/images/catalog-1.jpg" alt="">
                    </div>
                    <p class="search-popup__title">
                        Визитки шелкография
                    </p>
                </a>
                <a href="#" class="search-popup__item">
                    <div class="search-popup__img">
                        <img src="./assets/images/catalog-1.jpg" alt="">
                    </div>
                    <p class="search-popup__title">
                        Визитницы и подставки под визитки
                    </p>
                </a>
                <a href="#" class="search-popup__item">
                    <div class="search-popup__img">
                        <img src="./assets/images/catalog-1.jpg" alt="">
                    </div>
                    <p class="search-popup__title">
                        Визитницы и подставки под визитки
                    </p>
                </a>
                <a href="#" class="search-popup__item">
                    <div class="search-popup__img">
                        <img src="./assets/images/catalog-1.jpg" alt="">
                    </div>
                    <p class="search-popup__title">
                        Визитки шелкография
                    </p>
                </a>
                <a href="#" class="search-popup__item">
                    <div class="search-popup__img">
                        <img src="./assets/images/catalog-1.jpg" alt="">
                    </div>
                    <p class="search-popup__title">
                        Визитницы и подставки под визитки
                    </p>
                </a>
            </div>
            <a href="#" class="search-popup__link">
                Все результаты

                <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.4296 1.03425C16.0105 0.674495 15.3792 0.722548 15.0194 1.14158C14.6597 1.56062 14.7077 2.19196 15.1268 2.55172L21.4967 8.02055C21.8181 8.29654 22.0636 8.643 22.218 9.02726H1.05176C0.499473 9.02726 0.0517578 9.47497 0.0517578 10.0273C0.0517578 10.5795 0.499473 11.0273 1.05176 11.0273H22.1956C22.0403 11.39 21.803 11.7169 21.4967 11.9799L15.1268 17.4488C14.7077 17.8085 14.6597 18.4399 15.0194 18.8589C15.3792 19.2779 16.0105 19.326 16.4296 18.9662L22.7995 13.4974C23.8194 12.6218 24.4062 11.3445 24.4062 10.0002C24.4062 8.65599 23.8194 7.37873 22.7995 6.50308L16.4296 1.03425Z" fill="currentColor"/>
                </svg>
            </a>

            <input class="input-search-popup" type="text" placeholder="Поиск">
            <button class="search-popup__btn">
                <span>Найти</span>

                <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.4296 1.03425C16.0105 0.674495 15.3792 0.722548 15.0194 1.14158C14.6597 1.56062 14.7077 2.19196 15.1268 2.55172L21.4967 8.02055C21.8181 8.29654 22.0636 8.643 22.218 9.02726H1.05176C0.499473 9.02726 0.0517578 9.47497 0.0517578 10.0273C0.0517578 10.5795 0.499473 11.0273 1.05176 11.0273H22.1956C22.0403 11.39 21.803 11.7169 21.4967 11.9799L15.1268 17.4488C14.7077 17.8085 14.6597 18.4399 15.0194 18.8589C15.3792 19.2779 16.0105 19.326 16.4296 18.9662L22.7995 13.4974C23.8194 12.6218 24.4062 11.3445 24.4062 10.0002C24.4062 8.65599 23.8194 7.37873 22.7995 6.50308L16.4296 1.03425Z" fill="currentColor"/>
                </svg>
            </button>
        </div>
    </div>
</div>