.button-primary {
  transition: all 0.3s;
  border-radius: 0.6rem;
  font-family: $font1;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;

  svg {
    margin-right: 1rem;
  }

  &_main {
    background: map-get($gray, color_f0);
    color: map-get($basic, main);

    @include bp-tablet(min) {
      &:hover {
        background: map-get($basic, hover-main);
        color: $color-white;
      }
    }
  }

  &_primary {
    background: map-get($basic, hover-main);
    color: $color-white;

    @include bp-tablet(min) {
      &:hover {
        background: map-get($gray, color_f0);
        color: map-get($basic, main);
      }
    }
  }
}

.btn {
  &-yellow {
    background: $color-yellow;
    color: $color-black;

    @include bp-tablet(min) {
      &:hover {
        background: map-get($basic, hover-main);
        color: $color-white;
      }
    }
  }

  &-bg-grey {
    background: map-get($gray, color_f0);
    color: map-get($basic, main);
  }
}
